/*! Responsive Moodle Theme: Birla Sun Life
    @copyright 3rd Wave Media (elearning.3rdwavemedia.com) 
    Color: Default
*/

.settings-theme-colors .item {
    margin-right: 15px;
    margin-bottom: 10px;
    text-align: center;
    padding: 0
}
.settings-theme-colors .item .item-inner {
    width: 40px;
    text-align: center;
    display: inline-block
}
.settings-theme-colors .item:last-child {
    margin-right: 0
}
.settings-theme-colors .color-block {
    display: inline-block;
    width: 40px;
    height: 40px
}
.settings-theme-colors .color-name {
    display: inline-block;
    width: 40px;
    font-size: 12px;
    color: #999
}
.container-fluid {
    max-width: 1680px
}
.row {
    background: 0 0
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #494d55;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, arial, sans-serif
}
p {
    line-height: 1.5
}
a {
    color: #891635;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}
a:focus,
a:hover {
    text-decoration: underline;
    color: #891635;
    outline: 0
}
.btn,
a.btn {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    font-weight: 700;
    font-family: Montserrat, arial, sans-serif;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.btn .fa,
a.btn .fa {
    color: #fff;
    margin-right: 5px
}
.btn-theme,
a.btn-theme {
    background: #891635;
    border: 2px solid #891635;
    color: #fff
}
.btn-theme:hover,
a.btn-theme:hover {
    background: #239193;
    border: 2px solid #239193;
    color: #fff
}
.btn-cta,
a.btn-cta {
    padding: 8px 30px;
    background: #891635;
    border: 2px solid #891635;
    color: #fff
}
.btn-cta:hover,
a.btn-cta:hover {
    background: #239193;
    border: 2px solid #239193;
    color: #fff
}
.btn-cta:active,
.btn-cta:focus,
a.btn-cta:active,
a.btn-cta:focus {
    background: #891635;
    border: 2px solid #891635;
    color: #fff
}
.btn-cta-primary,
a.btn-cta-primary {
    background: #891635;
    border: 2px solid #891635;
    color: #fff
}
.btn-cta-primary:hover,
a.btn-cta-primary:hover {
    background: #239193;
    border: 2px solid #239193;
    color: #fff
}
.btn-cta-secondary,
a.btn-cta-secondary {
    background: 0 0;
    border: 2px solid #891635;
    color: #891635
}
.btn-cta-secondary:hover,
a.btn-cta-secondary:hover {
    background: #891635;
    border: 2px solid #891635;
    color: #fff
}
.btn-ghost,
a.btn-ghost {
    background: 0 0;
    border: 1px solid #fff;
    color: #fff!important;
    padding: 8px 20px;
    vertical-align: middle
}
.btn-ghost:hover,
a.btn-ghost:hover {
    background: #a5a9b1;
    border: 1px solid #a5a9b1;
    color: #fff
}
.btn-ghost .fa,
a.btn-ghost .fa {
    margin-right: 10px;
    font-size: 22px
}
.btn-ghost .text,
a.btn-ghost .text {
    position: relative;
    top: -2px
}
.btn-default .fa,
a.btn-default .fa {
    color: #999
}
.form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 40px;
    border-color: #eee
}
.form-control::-webkit-input-placeholder {
    color: #a6a6a6
}
.form-control:-moz-placeholder {
    color: #a6a6a6
}
.form-control::-moz-placeholder {
    color: #a6a6a6
}
.form-control:-ms-input-placeholder {
    color: #a6a6a6
}
.form-control:focus {
    border-color: #e1e1e1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.text-highlight {
    color: #0b2c2c
}
input[type=submit],
input[type=button] {
    appearance: none
}
#topcontrol {
    background: #31343a;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 30
}
#topcontrol:hover {
    background: #555963
}
#topcontrol .fa {
    position: relative;
    top: 3px;
    font-size: 25px
}
.video-container iframe {
    max-width: 100%
}
.has-texture {
    background: url([[pix:theme|images/background/texture]]) no-repeat left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.flexslider {
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.flexslider .flex-control-nav {
    z-index: 30;
    bottom: 30px;
    position: relative
}
.flexslider .flex-control-nav li a {
    background: #999
}
.flexslider .flex-control-nav li a.flex-active {
    background: #bfbfbf
}
.flexslider .flex-control-paging li {
    margin: 0 3px
}
.flexslider .flex-control-paging li a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 20px;
    height: 5px;
    background: #fff;
    -webkit-opacity: .35;
    -moz-opacity: .35;
    opacity: .35
}
.flexslider .flex-control-paging li a:hover {
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8
}
.flexslider .flex-control-paging li a.flex-active {
    background: #19686a;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}
.flexslider .flex-direction-nav {
    display: none
}
.flexslider .flex-direction-nav a {
    text-shadow: none;
    color: #fff;
    margin: -150px 0 0;
    height: 45px
}
.flexslider .flex-direction-nav a:hover {
    color: #fff
}
.flexslider .flex-direction-nav a.flex-prev {
    left: 30px!important
}
.flexslider .flex-direction-nav a.flex-prev:before {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 52px
}
.flexslider .flex-direction-nav a.flex-prev:before:hover {
    -webkit-opacity: .7;
    -moz-opacity: .7;
    opacity: .7
}
.flexslider .flex-direction-nav a.flex-next {
    right: 30px!important
}
.flexslider .flex-direction-nav a.flex-next:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 52px
}
.flexslider .flex-direction-nav a.flex-next:before:hover {
    -webkit-opacity: .7;
    -moz-opacity: .7;
    opacity: .7
}
input[type=checkbox],
input[type=radio] {
    margin-top: 0;
    margin-right: 4px
}
li {
    line-height: inherit
}
.btn-cancel,
button.btn-cancel,
input.btn-cancel,
input[type=submit].addcancel,
input[type=submit].btn-cancel {
    background: #999;
    border: 1px solid #999
}
.btn-cancel:hover,
button.btn-cancel:hover,
input.btn-cancel:hover,
input[type=submit].addcancel:hover,
input[type=submit].btn-cancel:hover {
    background: grey;
    border: 1px solid grey
}
.path-admin .buttons input[type=submit],
button,
input#id_submitbutton,
input#id_submitbutton2,
input.form-submit,
input[type=submit],
input[type=button],
input[type=reset],
td.submit input {
    /*background: #891635;
    border: 1px solid #891635;*/
	background: #891635;
    border: 1px solid #891635;	
    color: #fff;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.path-admin .buttons input[type=submit]:active,
.path-admin .buttons input[type=submit]:focus,
.path-admin .buttons input[type=submit]:hover,
button:active,
button:focus,
button:hover,
input#id_submitbutton2:active,
input#id_submitbutton2:focus,
input#id_submitbutton2:hover,
input#id_submitbutton:active,
input#id_submitbutton:focus,
input#id_submitbutton:hover,
input.form-submit:active,
input.form-submit:focus,
input.form-submit:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=submit]:hover,
input[type=button]:active,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:active,
input[type=reset]:focus,
input[type=reset]:hover,
td.submit input:active,
td.submit input:focus,
td.submit input:hover {
    /**background: #891635;
    border: 1px solid #891635;**/
	
	background: #891635;
    border: 1px solid #891635;
	
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    outline: 0
}
.singlebutton div {
    margin-left: 0
}
.singlebutton input[type=submit] {
    margin-left: 0
}
button.disabled,
button[disabled],
input.form-submit.disabled,
input.form-submit[disabled],
input[type=submit].disabled,
input[type=submit][disabled],
input[type=button].disabled,
input[type=button][disabled],
input[type=reset].disabled,
input[type=reset][disabled] {
    -webkit-opacity: .65;
    -moz-opacity: .65;
    opacity: .65;
    box-shadow: none;
    background: #891635;
    color: #fff
}
.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.form-control:focus {
    border-color: #891635;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
blockquote {
    font-size: 14px
}
blockquote p {
    font-size: 14px;
    line-height: 1.5
}
.nav-tabs {
    border-bottom: none;
    position: relative;
    margin-bottom: -1px
}
.tab-content {
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 20px
}
.nav>li>a {
    font-size: 13px
}
.nav-tabs>li>a {
    border: 1px solid #eee;
    border-bottom: none;
    background: #f6f9fa;
    padding: 5px 15px;
    margin-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #494d55;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s
}
.nav-tabs>li {
    margin-right: 2px
}
.nav-tabs>li.active {
    margin-bottom: 0
}
.nav-tabs>li.active a,
.nav-tabs>li.active a:active,
.nav-tabs>li.active a:focus,
.nav-tabs>li.active a:hover {
    border-bottom: 0;
    border-top: 2px solid #891635;
    margin-bottom: 0
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background: #b8edee
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 1px solid #e3ebee
}
.table>thead>tr>th {
    border-bottom: 2px solid #5dd6d9;
    color: #145456
}
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background: #b8edee
}
.table-bordered,
.table-boxed {
    border: 1px solid #e3ebee
}
.table.table-boxed>thead>tr>th {
    border-bottom: none;
    background: #891635;
    color: #fff
}
.panel-group .panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.panel-group .panel .panel-heading {
    background: 0 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.panel-group .panel .panel-heading .panel-title a {
    color: #891635
}
.panel-group .panel .panel-heading .panel-title a:before {
    font-family: FontAwesome;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f146";
    margin-right: 5px
}
.panel-group .panel .panel-heading .panel-title a.collapsed:before {
    content: "\f0fe"
}
.panel-group .panel .panel-heading .panel-title a:hover {
    text-decoration: none;
    color: #891635
}
.panel-group .panel .panel-body {
    font-size: 13px
}
.panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.panel .panel-heading {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.panel .panel-heading h3.panel-title {
    font-weight: 500
}
.panel .panel-heading .label {
    font-size: 10px
}
.panel .panel-footer {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.panel .panel-footer ul {
    margin-bottom: 0
}
.panel .panel-footer ul.list-inline li {
    margin-bottom: 0
}
.panel .panel-footer small {
    color: #999
}
.panel>.list-group .list-group-item:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.panel-theme {
    border-color: #891635
}
.panel-theme>.panel-footer,
.panel-theme>.panel-heading {
    color: #fff;
    background: #891635;
    border-color: #891635
}
.no-margins {
    margin: 0
}
.no-margin-left {
    margin-left: 0
}
.no-margin-right {
    margin-right: 0
}
.no-margin-top {
    margin-top: 0
}
.no-margin-bottom {
    margin-bottom: 0
}
.label {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: inherit
}
.label.label-theme {
    background: #891635
}
.label .fa {
    margin-right: 4px
}
.label.label-icon-only .fa {
    margin-right: 0
}
.badge.badge-theme {
    background: #891635
}
.badge.badge-default {
    background: #999
}
.badge.badge-primary {
    background: #428bca
}
.badge.badge-success {
    background: #5cb85c
}
.badge.badge-info {
    background: #5bc0de
}
.badge.badge-info {
    background: #5bc0de
}
.badge.badge-warning {
    background: #f0ad4e
}
.badge.badge-danger {
    background: #d9534f
}
.promo-badge {
    font-size: 20px;
    display: table
}
.promo-badge a {
    color: #fff;
    display: table-cell;
    width: 135px;
    height: 135px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 5px solid #fff;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1)
}
.promo-badge .percentage {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    position: relative;
    font-family: 'open sans', arial, sans-serif
}
.promo-badge .percentage .off {
    font-size: 11px;
    position: absolute;
    top: 15px;
    right: -15px
}
.promo-badge .desc {
    font-size: 12px
}
.progress-bar-theme {
    background: #891635
}
.img-thumbnail {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-color: #eee;
    margin-bottom: 15px
}
#cboxContent,
#cboxLoadedContent {
    background: 0 0
}
.box {
    padding: 15px;
    margin-bottom: 15px
}
.box.box-default {
    background: #f0f4f6
}
.box.box-border {
    border-left: 5px solid #891635;
    background: #f0f4f6
}
.box.box-dark {
    background: #494d55;
    color: #fff
}
.box.box-theme {
    background: #891635;
    color: #fff
}
.box .date-label {
    background: #fff
}
.box .box_tree_box {
    padding: 0
}
.box.clearer,
.box.message {
    background: 0 0
}
.box.boxwidthwide {
    width: auto
}
.box table td,
.box table th {
    padding: 5px
}
.box>p:last-child {
    margin-bottom: 0
}
.box.generalbox {
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 #eee;
    -moz-box-shadow: 0 0 5px 0 #eee;
    box-shadow: 0 0 5px 0 #eee;
    border-bottom: 2px solid #eee
}
.box.generalbox.formsettingheading {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 0
}
.box.flush {
    background: 0 0;
    margin-bottom: 0;
    padding: 0
}
.RedDamask {
    background-color: #e27240
}
.RedDamask:hover {
    background-color: #df622a
}
.FireBush {
    background-color: #E28D40
}
.FireBush:hover {
    background-color: #df802a
}
.OliveDrab {
    background-color: #60A823
}
.OliveDrab:hover {
    background-color: #54931f
}
.Mojo {
    background-color: #C94139
}
.Mojo:hover {
    background-color: #b73932
}
.alert {
    text-shadow: none
}
.alert .fa {
    font-size: 16px;
    margin-right: 5px
}
.alert.alert-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442
}
.alert .title {
    font-weight: 700
}
.alert .close:hover {
    background: 0 0;
    border: none
}
.header .topbar {
    background: #494d55;
    color: #fff;
    border-top: 3px solid #ffcc00;	
	position: relative;
    z-index: 1;	
}

#page-site-index .header .topbar{
	background: url(http://172.18.13.44/birlasunlife/theme/birlasunlife/pix/birla_images/video_overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
} 

.header .topbar.container-fluid {
    max-width: none
}
.header .topbar.navbar-fixed-top {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
	/** css added by sumedh **/
    border-top: 3px solid #ffcc00;
}
.header .branding {
    padding-top: 80px;
    padding-bottom: 30px
}
.header .logo {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center
}
.header .logo img {
    margin: 0 auto
}
.header .info-container {
    text-align: center;
    font-size: 13px
}
.header .info-container .userpicture {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.header .logininfo-container {
    margin-top: 15px
}
.header .logininfo-container a.btn {
    padding: 6px 20px
}
.header .logininfo {
    display: inline-block;
    color: #90aebd;
    margin-right: 5px
}
.header .logininfo a {
    color: #891635
}
.header .logininfo a:hover {
    color: #2db9bd
}
.header .header-widget {
    overflow: hidden;
    margin-top: 15px
}
.header .main-nav .navbar-toggle {
    margin-right: 0;
    background: 0 0;
    float: left;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.header .main-nav .navbar-toggle:active,
.header .main-nav .navbar-toggle:focus {
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.header .main-nav .navbar-toggle .icon-bar {
    background-color: #afb3bb;
    height: 3px
}
.header .main-nav .navbar-toggle:hover {
    border: none
}
.header .main-nav .navbar-toggle:hover .icon-bar {
    background-color: #fff
}
.header .main-nav .nav-collapse {
    padding: 0
}
.header .main-nav .nav .langmenu .dropdown-menu {
    max-height: 400px
}
.header .main-nav .nav li {
    font-weight: 400;
    font-size: 13px;
    margin-right: 0;
    font-family: Montserrat, arial, sans-serif;
    float: left
}
.header .main-nav .nav li.active a {
    color: #e9eaec;
    background: 0 0;
    font-weight: 700
}
.header .main-nav .nav li a {
    color: #c0c3c9;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
	/** added by sumedh **/
	font-size : 14px;
	color: white;	
	
}
.header .main-nav .nav li a .fa {
    margin-right: 5px
}
.header .main-nav .nav li a:hover {
    color: #dcdde0;
    background: 0 0
}
.header .main-nav .nav li a:focus {
    outline: 0;
    background: 0 0
}
.header .main-nav .nav li a:active {
    outline: 0;
    background: 0 0
}
.header .main-nav .nav li a.dropdown-toggle .caret {
    border: none;
    margin-top: 0;
    width: auto;
    height: auto;
    vertical-align: inherit;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.header .main-nav .nav li a.dropdown-toggle .caret:before {
    content: "\f107";
    display: inline-block!important;
    line-height: 1;
    margin-left: 2px
}
.header .main-nav .nav li.active {
    color: #891635
}
.header .main-nav .nav li.last {
    margin-right: 0
}
.header .main-nav .nav.active {
    position: relative
}
.header .main-nav .nav.active>a {
    background: #891635;
    color: #fff
}
.header .main-nav .nav.active>a:before {
    content: "\f0d8";
    position: absolute;
    bottom: -8px;
    left: 0;
    text-align: center;
    font-family: FontAwesome;
    display: block;
    font-size: 12px;
    width: 100%
}
.header .main-nav .nav.active>a.dropdown-toggle:before {
    display: none
}
.header .main-nav .nav.open a {
    background: 0 0
}
.header .main-nav .nav .dropdown .dropdown-toggle>.fa {
    margin-left: 5px
}
.header .main-nav .nav .dropdown-menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0;
    border: none;
    text-transform: none;
    min-width: 180px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .15)
}
.header .main-nav .nav .dropdown-menu .dropdown-submenu .dropdown-menu:before {
    display: none
}
.header .main-nav .nav .dropdown-menu .dropdown-submenu .dropdown-menu li a {
    padding-left: 35px
}
.header .main-nav .nav .dropdown-menu li {
    float: none
}
.header .main-nav .nav .dropdown-menu li:last-child a {
    border-bottom: 0
}
.header .main-nav .nav .dropdown-menu em {
    font-style: normal
}
.header .main-nav .nav .dropdown-menu a {
    border-bottom: 1px dotted #f0f4f6;
    padding: 8px 20px;
    color: #6f7581;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}
.header .main-nav .nav .dropdown-menu a:hover {
    background-color: none;
    color: #891635
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background: 0 0
}
.nav-collapse.collapse {
    overflow: hidden;
    visibility: inherit
}
.collapse {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    display: inherit;
    visibility: inherit
}
.nav-collapse.in {
    overflow-y: auto
}
.nav-collapse .nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background: 0 0;
    color: #891635
}
.dropdown-submenu:focus>a,
.dropdown-submenu:hover>a {
    background: 0 0;
    color: #891635
}
.dropdown-submenu>a:after {
    border-left-color: #6f7581!important
}
.dropdown-submenu>a:hover:after {
    border-left-color: #891635!important
}
#page-footer {
    padding: 0;
    margin-top: 0;
    border-top: none
}
.footer .footer-content {
    background: #494d55;
    padding: 30px 0;
    color: #a2a6af
}
.footer a {
    color: #a2a6af
}
.footer a:hover {
    color: #bdc0c6
}
.footer .footer-col {
    text-align: left;
    color: #a2a6af;
    /*margin-bottom: 60px*/
}

.footer-col-inner ul{
	margin-left : 16px;
}

.log-container.float-right-div {
    margin: 5px 0;
}

.log-container.float-right-div a.textmenu{
	color: white;
}
.footer .footer-col ul.list-unstyled {
    margin-left: 0
}
.footer .footer-col.links .fa {
    margin-right: 5px
}
.footer .footer-col.links li {
    margin-bottom: 10px
}
.footer .footer-col .title {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9
}
.footer .footer-col a {
    color: #a2a6af
}
.footer .footer-col a:hover {
    color: #bdc0c6
}
.footer .contact .fa {
    margin-right: 10px;
    font-size: 20px
}
.footer .contact .email .fa {
    font-size: 16px
}
.footer .footerwidget {
    margin-top: 30px
}
.footer .bottom-bar {
    background: #26282c;
    color: #b3b3b3;
    font-size: 14px;
    padding: 10px 0
}
.footer .bottom-bar .copyright {
    line-height: 1.6
}
.footer .bottom-bar .twitter-follow {
    text-align: right;
    position: relative;
    top: 2px
}
#homeblocks .block-item {
    border: 1px solid #eee;
    border-bottom: 2px solid #eee;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 5px 0 #eee;
    -moz-box-shadow: 0 0 5px 0 #eee;
    box-shadow: 0 0 5px 0 #eee
}
#homeblocks .block-item h3 {
    margin-top: 0
}
#homeblocks .block-item:hover {
    -webkit-box-shadow: 0 0 5px 0 #d5d5d5;
    -moz-box-shadow: 0 0 5px 0 #d5d5d5;
    box-shadow: 0 0 5px 0 #d5d5d5
}
#homeblocks .block-item>a:hover {
    position: relative
}
#homeblocks .block-item>a:hover img {
    display: block;
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9
}
#homeblocks .block-item .desc {
    padding: 15px;
    position: relative
}
#homeblocks .block-item .desc:before {
    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px
}
#homeblocks .block-item .desc .btn {
    padding: 4px 16px
}
#page .breadcrumb-nav {
    display: inline-block
}
#page .breadcrumb-nav ul.breadcrumb {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0;
    background: 0 0
}
#page .breadcrumb-nav ul.breadcrumb li {
    color: #891635;
    font-size: 12px;
    float: left;
    list-style: none;
    display: inline-block;
    color: #9499a3
}
#page .breadcrumb-nav ul.breadcrumb li:first-child:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f015";
    font-size: 14px;
    color: #999
}
#page .breadcrumb-nav ul.breadcrumb li:last-child a {
    color: #9499a3
}
#page .breadcrumb-nav ul.breadcrumb li a {
    display: inline-block;
    padding: 0 5px;
    text-shadow: none
}
#page ul li.list-group-item {
    margin-bottom: -1px
}
#page ul.nav li {
    margin-bottom: 0
}
#page ul.social-icons li .fa {
    margin-right: 0;
    color: #fff
}
#page ol li {
    margin-bottom: 5px
}
#page dl dd {
    margin-bottom: 5px
}
#page #maincontent+h2 {
    margin-top: 0
}
#page #region-main {
    margin-bottom: 30px
}
#page #region-main h1 {
    font-size: 26px;
    font-weight: 400
}
#page #region-main h2 {
    font-size: 18px;
    font-weight: 400
}
#page #region-main h3 {
    font-size: 20px;
    font-weight: 400
}
#page #region-main h3.sectionname {
    margin-top: 15px
}
#page #region-main h4 {
    font-size: 18px;
    font-weight: 400
}
#page #region-main h5 {
    font-size: 16px;
    font-weight: 400
}
#page #region-main h6 {
    font-size: 14px;
    font-weight: 400
}
#page #region-main table {
    background: #fff;
    border-collapse: collapse;
    -webkit-box-shadow: 0 0 5px 0 #eee;
    -moz-box-shadow: 0 0 5px 0 #eee;
    box-shadow: 0 0 5px 0 #eee;
    margin-bottom: 15px
}
#page #region-main table td,
#page #region-main table th {
    padding: 5px;
    border: 1px solid #eee
}
#page #region-main table#admindeviceselector td img {
    max-width: 100%
}
#page #region-main table.mceLayout {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    border-collapse: inherit
}
#page #region-main table.mceLayout a {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none
}
#page #region-main table.mceLayout table {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    margin-bottom: 0
}
#page #region-main table.mceLayout td,
#page #region-main table.mceLayout th {
    padding: 0
}
#page #region-main table.mceLayout td img,
#page #region-main table.mceLayout th img {
    height: auto
}
#page #region-main table.mceLayout td img.mceIcon,
#page #region-main table.mceLayout th img.mceIcon {
    height: 16px
}
#page #region-main table.mceLayout .moodleSkin .mceToolbar td+td {
    border: 1px solid #eee
}
#page #region-main table.mceListBox td,
#page #region-main table.mceListBox th {
    border: none
}
#page #region-main .nav-tabs {
    margin-top: 15px
}
#page #region-main .nav-tabs+.box {
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 #eee;
    -moz-box-shadow: 0 0 5px 0 #eee;
    box-shadow: 0 0 5px 0 #eee;
    border: 1px solid #eee
}
#page #region-main .nav-tabs+.alert {
    margin-top: 15px
}
#page #region-main .nav-tabs+.entrybox {
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 #eee;
    -moz-box-shadow: 0 0 5px 0 #eee;
    box-shadow: 0 0 5px 0 #eee;
    border: 1px solid #eee;
    padding: 15px
}
#page #region-main select {
    margin-bottom: 5px
}
#page #region-main .title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300
}
#page #region-main .page-row {
    margin-bottom: 30px
}
#page #region-main .has-divider {
    border-bottom: 1px dotted #eee;
    padding-bottom: 15px
}
#page #region-main .has-divider-solid {
    border-bottom: 1px solid #eee
}
#page #region-main .row-divider {
    border-bottom: 1px dotted #eee;
    padding: 10px 0
}
#page #region-main .even-row {
    background: #f0f4f6
}
#page #region-main .read-more.btn {
    margin-bottom: 15px;
    display: inline-block
}
#page #region-main .panel-title {
    font-size: 16px;
    font-weight: 300
}
#page #region-main .video-iframe {
    max-width: 100%
}
#page #region-main .que h2.no,
#page #region-main .que h3.no {
    font-size: 13px
}
#page #region-main .addbloglink a {
    background: #60A823;
    color: #fff;
    padding: 5px 15px;
    display: inline-block;
    margin-bottom: 15px
}
#page #region-main .addbloglink a:hover {
    background: #5ba021;
    border: 1px solid #5ba021
}
#page #region-main .blog_entry .audience {
    color: #999;
    margin-bottom: 5px
}
#page #region-main .blog_entry .attachments {
    margin-bottom: 5px
}
#page #region-main .region-main-inner {
    padding: 25px;
    background: #fff;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #eee;
    border-top: 3px solid #656565
}
#page #region-main .coursebox {
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 #eee;
    -moz-box-shadow: 0 0 5px 0 #eee;
    box-shadow: 0 0 5px 0 #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 15px;
    border: none;
    border-left: 2px solid #891635;
    margin-bottom: 30px
}
#page #region-main .coursebox h3.coursename {
    font-size: 18px
}
#page #region-main .coursebox>.info>.coursename a {
    background-position: left 2px
}
#page #region-main .coursebox .content .coursecat,
#page #region-main .coursebox .content .summary {
    width: auto;
    float: none
}
#page #region-main .course_category_tree .controls {
    margin-top: 15px
}
#page #region-main .course_category_tree .controls div {
    background: #891635;
    color: #fff;
    padding: 5px 10px;
    font-size: inherit
}
#page #region-main .course_category_tree .controls div.addtoall {
    margin-right: 5px
}
#page #region-main .course_category_tree .category>.info {
    background: 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none
}
#page #region-main .course_category_tree .category>.info>.categoryname {
    margin-bottom: 15px
}
#page #region-main .forumpost {
    background: #fff;
    border-bottom: 2px solid #eee;
    -webkit-box-shadow: 0 0 5px 0 #eee;
    -moz-box-shadow: 0 0 5px 0 #eee;
    box-shadow: 0 0 5px 0 #eee
}
#page #region-main .paging {
    margin-bottom: 5px
}
#page #region-main .moreless-toggler {
    background: #999;
    color: #fff;
    padding: 5px 15px
}
#page #region-main #frontpage-category-combo h2,
#page #region-main #frontpage-category-names h2,
#page #region-main #frontpage-course-list h2,
#page #region-main #site-news-forum h2 {
    margin-bottom: 15px;
    margin-top: 0
}
#page #region-main #coursesearch input {
    margin-bottom: 0
}
#page #region-main .course-content .section.main {
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 #eee;
    -moz-box-shadow: 0 0 5px 0 #eee;
    box-shadow: 0 0 5px 0 #eee;
    margin-bottom: 15px
}
#page #region-main .course-content .section.main .content .summary {
    margin-top: 15px
}
#page #region-main .course-content .section .activity .activityinstance,
#page #region-main .course-content .section .activity .activityinstance div {
    display: block
}
#page #region-main .block .header h2 {
    color: #494d55
}
#page #region-main .block.block_course_overview {
    padding: 25px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
#page #region-main .block.block_course_overview .course_title>.title {
    font-size: 20px
}
#page #region-main .block.block_course_overview .content {
    margin: 0
}
#page #region-main .loginbox {
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 #eee;
    -moz-box-shadow: 0 0 5px 0 #eee;
    box-shadow: 0 0 5px 0 #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-top: 3px solid #656565;
    padding: 30px
}
#page #region-main .loginbox .rememberpass {
    margin-bottom: 15px
}
#page #region-main .loginbox .rememberpass input[type=checkbox] {
    margin-top: 0
}
#page #region-main .loginbox .rememberpass label {
    font-weight: 400
}
#page #region-main .loginbox .loginform .form-input input {
    width: 12em
}
#page #region-main .loginbox .loginform .form-input input#loginbtn {
    display: block
}
#page #region-main .loginbox .guestsub {
    border-top: 1px solid #eee
}
#page #region-main .loginbox #guestlogin input[type=submit] {
    background: #60A823;
    border-color: #60A823
}
#page #region-main .loginbox .loginsub .desc {
    color: #999
}
#page .block-region .block {
    margin-bottom: 30px;
    padding-bottom: 15px;
    background: #fff;
    border: 1px solid #eee;
    border-top: 3px solid #656565;
    padding-top: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
#page .block-region .block.block_myprofile .profilepicture {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
#page .block-region .block.block_login .username label {
    display: block
}
#page .block-region .block.block_login .password label {
    display: block
}
#page .block-region .block h2 {
    font-size: 16px
}
#page .block-region .block .header .title {
    position: relative
}
#page .block-region .block .header .title h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 300;
    color: #494d55;
    text-transform: none;
    text-shadow: none;
    padding: 0 25px;
    padding-top: 25px;
}

#page-my-index #page #region-main .block .header h2 {
    color: #494d55;
    padding-top: 0;
    padding-left: 15px;
}

#categories{
	display:none;
}

.breadcrumb-section{
	display : none;
}

#page .block-region .block .header .title .block_action {
    position: absolute;
    right: 15px;
    top: 15px;
    float: none;
    padding: 0;
    margin: 0
}
#page .block-region .block .header .title .block_action:focus {
    outline: 0
}
#page .block-region .block.block_with_controls:hover {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    box-shadow: 0 0 5px rgba(0, 0, 0, .25)
}
#page .block-region .block .content {
    padding: 15px 25px
}
#page .block-region .block.has-divider {
    border-bottom: 1px dotted #eee
}
#page .block-region .block .iframe {
    height: auto;
    min-height: 200px;
    max-width: 100%
}
#page .block-region .block .fa {
    margin-right: 5px;
    color: #891635
}
#page .block-region .block .fa.fa-phone {
    font-size: 16px
}
#page .block-region .block .btn .fa {
    color: #fff
}
fieldset.hidden {
    display: block!important;
    visibility: visible!important
}
.block.hidden,
.block.invisible,
li.section.hidden {
    display: block!important;
    visibility: visible!important
}
.hide {
    display: inherit!important
}
div.hide,
span.hide {
    display: none!important
}
img,
img *,
img:after,
img:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
img.iconsmall {
    width: auto;
    height: auto
}
.section .editing_title .iconsmall {
    width: auto;
    height: auto
}
.helplink img,
.helplink img *,
.helplink img:after,
.helplink img:before,
img,
img *,
img:after,
img:before,
img.icon,
img.icon *,
img.icon:after,
img.icon:before,
img.iconhelp,
img.iconhelp *,
img.iconhelp:after,
img.iconhelp:before,
img.iconsmall,
img.iconsmall *,
img.iconsmall:after,
img.iconsmall:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
ul.breadcrumb span.divider {
    display: none
}
.nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px
}
.uneditable-input,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
textarea {
    height: inherit
}
.uneditable-input:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus,
textarea:focus {
    border-color: #891635;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
input[name=searchwikicontent]+input[type=submit],
input[type=text]+button,
input[type=text]+input[type=submit],
input[type=text]+input[type=button],
input[type=password]+input[type=submit],
select+input[type=submit] {
    margin-left: 0
}
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    margin-top: 0
}
.moodle-actionmenu[data-enhanced].show .menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 1px 1px 5px 0 #ccc;
    -moz-box-shadow: 1px 1px 5px 0 #ccc;
    box-shadow: 1px 1px 5px 0 #ccc
}
.moodle-actionmenu[data-enhanced].show .menu a {
    outline: 0
}
.moodle-actionmenu[data-enhanced].show .menu a:hover {
    background: #891635;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0
}
#dndupload-status {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
#intro.generalbox {
    padding: 15px
}
#intro.generalbox p:last-child {
    margin-bottom: 0
}
.block_settings #adminsearchquery {
    width: 150px
}
.mform legend a,
.mform legend a:hover {
    color: #494d55
}
.mform fieldset.collapsible legend a.fheader {
    margin-left: 0
}
#region-main .mform:not(.unresponsive) .fitem .fitemtitle label {
    font-weight: 400
}
#chat-input-area.box {
    padding: 5px
}
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-input-area table.generaltable,
.yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-input-area table.generaltable td.cell {
    padding: 0
}
.chatuserdetails p {
    margin-bottom: 0
}
.chatuserdetails .idletime {
    color: #999;
    font-size: 11px
}
.block .calendar_filters li span {
    display: inline-block;
    padding-bottom: 2px
}
.block .minicalendar td,
.block .minicalendar th {
    font-size: 12px
}
.block .minicalendar {
    max-width: inherit
}
.message .messagearea {
    border-color: #eee
}
.message .messagearea .messagehistory .user .box {
    padding: 10px
}
.message .messagearea .messagehistory .user:first-child {
    margin-left: inherit!important;
    display: inline-block;
    width: 160px
}
.message .messagearea .messagehistory .user:last-child {
    margin-right: inherit!important;
    display: inline-block;
    width: 160px
}
.message .messagearea .messagehistory .user>div img {
    max-width: 100%;
    height: inherit;
    padding: 0!important;
    margin-bottom: 10px
}
.forumpost {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #eee
}
.forumpost .row.maincontent {
    margin-top: 10px
}
.forumpost .picture {
    margin-right: 10px
}
.forumpost .picture img {
    margin: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.forumpost .topic {
    margin-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    line-height: 1.5
}
.forumpost .author {
    font-size: 12px;
    color: #999
}
.singlebutton.forumaddnew div {
    margin-left: 0
}
#page-content .userpicture,
.block_myprofile img.profilepicture {
    background: #fff;
    -webkit-box-shadow: 0 0 2px #d5d5d5;
    -moz-box-shadow: 0 0 2px #d5d5d5;
    box-shadow: 0 0 2px #d5d5d5;
    border: 1px solid #eee;
    padding: 2px
}
.choosercontainer #chooseform .option label .typesummary {
    font-weight: 400;
    line-height: inherit
}
.section-modchooser-link img.smallicon {
    padding-top: 0
}
.block_recent_activity .activitydate,
.block_recent_activity .activityhead {
    color: #999;
    font-size: 11px
}
.block_settings .block_tree .tree_item {
    outline: 0!important
}
.block_settings .block_tree .tree_item span {
    outline: 0!important
}
.course-content ul li.section.main {
    border-bottom: 1px solid #eee;
    padding: 15px
}
#notice {
    width: auto
}
.form-item .form-setting textarea {
    width: 100%
}
.notloggedin #page-header .top-bar .logininfo-container {
    padding-top: 12px
}
#page-enrol-users #filterform {
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 #eee;
    -moz-box-shadow: 0 0 5px 0 #eee;
    box-shadow: 0 0 5px 0 #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
#page-enrol-users .enrol_user_buttons {
    text-align: right;
    margin-top: 15px;
    float: none
}
.user-enroller-panel {
    border: none;
    -webkit-box-shadow: 0 0 5px 0 #eee;
    -moz-box-shadow: 0 0 5px 0 #eee;
    box-shadow: 0 0 5px 0 #eee
}
input[type=radio]+label,
input[type=checkbox]+label {
    font-weight: 400
}
#userselector_options,
#userselector_options *,
#userselector_options:after,
#userselector_options:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
.section-modchooser {
    margin-bottom: 15px
}
.path-course-view li.activity>div,
.path-site li.activity>div {
    position: relative;
    padding: 0 16px 0 0
}
.comment-message .picture {
    width: auto;
    margin-right: 5px
}
.block .header .commands .icon img {
    width: auto;
    height: auto
}
.course-content li.section.main .summary {
    margin-left: 15px
}
.block_myprofile .myprofileitem.fullname {
    font-size: 13px
}
.block_myprofile .myprofileitem.picture {
    float: left;
    margin-right: 10px
}
#page #region-main .course-content .section.main.current {
    background-color: #fff;
    border-left: 2px solid #891635
}
#page #region-main .course-content .section.main.current h3.sectionname {
    margin-left: 20px
}
.block .header h2 {
    text-shadow: none
}
.questionbankwindow.block {
    float: none;
    width: inherit
}
#page-mod-quiz-edit div.quizcontents {
    width: inherit;
    float: none
}
#page-mod-quiz-edit .questionbankwindow.block div.header {
    background: #891635
}
#page-mod-quiz-edit #page #region-main .questionbankwindow.block div.header div.title h2 {
    color: #fff;
    text-shadow: none;
    font-size: 20px;
    text-transform: inherit;
    padding: 5px 0
}
#page-mod-quiz-edit #page #region-main .questionbankwindow div.header .title {
    margin-bottom: 0
}
#page-mod-quiz-edit div.container div.generalbox {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px
}
#page-mod-quiz-edit .questionbankwindow div.header {
    padding-left: 0;
    padding-right: 0;
    margin: 0
}
.questionbankwindow.block .content {
    background: #fff
}
#page-mod-quiz-edit div.quizpage .pagecontent .pagestatus {
    padding: 5px
}
#chooseqtypebox.boxwidthnormal {
    width: auto
}
#categoryquestions .checkbox,
#categoryquestions .iconcol {
    width: auto
}
#page-mod-quiz-edit #page table#categoryquestions td,
#page-mod-quiz-edit #page table#categoryquestions th {
    border: none
}
#page-mod-quiz-edit table#categoryquestions th.questionnametext {
    width: 300px
}
#page-mod-quiz-edit table#categoryquestions .checkbox input[type=checkbox] {
    float: none;
    margin-left: 0
}
#randomquestiondialog .mform #fitem_id_cancel.fitem .felement {
    margin-left: 0
}
#chooseqtypehead h3 {
    padding: 5px
}
#page-mod-quiz-edit div.quizpage span.pagetitle {
    color: #891635
}
#page-mod-quiz-edit div.quizpage .pagecontent {
    background: #efefef
}
#randomquestiondialog fieldset.hidden {
    display: none!important
}
#page-mod-quiz-edit .editq div.question div.content .randomquestioncategory a,
#page-mod-quiz-edit div.question div.content .singlequestion .questionpreview {
    background: 0 0
}
#page-mod-quiz-edit div.editq div.question div.content {
    width: 93%
}
#page-mod-quiz-edit .questionbankwindow a#hidebankcmd:hover,
#page-mod-quiz-edit .questionbankwindow a#showbankcmd:hover {
    color: #fff;
    background: #19686a
}
.layout-option-nonavbar .navbar.hide {
    display: none!important
}
.path-my #page #region-main .region-main-inner {
    padding: 0
}
.path-mod-feedback .nav-tabs {
    margin-bottom: 20px
}
.gradingform_rubric.editor .criterion .controls .delete input {
    width: 16px;
    height: 16px
}
.gradingform_rubric .criteria {
    overflow-x: scroll;
    display: block
}
#grade_edit_tree_table {
    overflow-x: scroll;
    display: block
}
#page #region-main .gradetreebox h4 {
    font-size: 14px
}
.yui-skin-sam .yui-dialog .ft .button-group button {
    margin-right: 5px
}
.yui-skin-sam .yui-dialog .ft .button-group button:last-child {
    margin-right: 0
}
.modal {
    width: inherit;
    margin-left: inherit;
    top: 0;
    background: inherit;
    border: none;
    overflow-y: inherit
}
.modal button.close {
    background: 0 0;
    border: none
}
.modal .modal-content {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.modal .modal-footer {
    background: #f0f4f6
}
.modal-backdrop {
    z-index: auto
}
.modal.fade.in {
    top: 0
}
.carousel-control {
    height: inherit;
    margin-top: inherit;
    font-weight: inherit;
    line-height: inherit;
    background: inherit;
    border: inherit;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.carousel-indicators {
    top: inherit;
    right: inherit;
    margin-right: inherit;
    margin-top: inherit;
    margin-bottom: 0
}
.carousel-indicators li {
    float: inherit
}
.carousel li {
    margin-right: inherit
}
.carousel-caption {
    background: 0 0
}
#page ol.carousel-indicators li {
    margin-bottom: 0
}
.carousel .item.left,
.carousel .item.right {
    width: inherit!important;
    padding: inherit!important
}
.editing .section .activity .activityinstance,
.editing .section .activity .contentwithoutlink {
    padding-right: 80px
}
.section .label .activityinstance,
.section .label .contentwithoutlink {
    padding-right: 4px
}
.empty-region-side-pre #page #region-main {
    width: 100%
}
.content-only #page #region-main {
    width: 100%
}
#uuresults,
.flexible-wrap,
table.flexible-wrap {
    display: block;
    overflow-y: auto
}
.flexible-wrap,
flexible,
table.flexible {
    display: block;
    width: 100%;
    overflow: auto
}
.path-grade-report-grader #page #region-main table th.user img.userpicture {
    width: 27px;
    height: 27px
}
.badge,
.label {
    text-shadow: none
}
.custom-quote {
    border-color: #5dd6d9
}
.custom-quote p {
    font-size: 14px;
    color: #797f8b;
    line-height: 1.5
}
.custom-quote .fa {
    color: #891635;
    margin-right: 10px
}
.custom-quote .people {
    margin-top: 10px;
    font-size: 11px;
    color: #494d55;
    font-style: normal
}
.custom-quote .people .name {
    color: #891635
}
#page #region-main .table {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
#page #region-main .table td,
#page #region-main .table th {
    border: none
}
#page #region-main .table-striped>tbody>tr:nth-child(odd)>td,
#page #region-main .table-striped>tbody>tr:nth-child(odd)>th {
    background: #f0f4f6
}
#page #region-main .table>tbody>tr>td,
#page #region-main .table>tbody>tr>th,
#page #region-main .table>tfoot>tr>td,
#page #region-main .table>tfoot>tr>th,
#page #region-main .table>thead>tr>th,
.table>thead>tr>td {
    border-top: 1px solid #d0dde3
}
#page #region-main .table>thead>tr>th {
    border-bottom: 2px solid #d0dde3;
    color: #6f7581
}
#page #region-main .table-hover>tbody>tr:hover>td,
#page #region-main .table-hover>tbody>tr:hover>th {
    background: #b8edee
}
#page #region-main .table-bordered,
#page #region-main .table-boxed {
    border: 1px solid #e3ebee
}
#page #region-main .table.table-boxed>thead>tr>th {
    border-bottom: none;
    background: #797f8b;
    color: #fff
}
#fgroup_id_buttonar,
#fitem_id_submitbutton,
.form-buttons,
.fp-content-center form+div,
.path-admin .buttons,
div.backup-section+form,
table#form td.submit {
    background: 0 0
}
.page-wrapper {
    background: #f8f5ec;
    padding-top: 36px
}

.log-container .menubar b.caret{
    float: left;
    position: relative;
    margin-top: 20px !important;
    margin-right: 5px;
}

.log-container .moodle-actionmenu[data-enhanced].show .menu.align-tr-br {
    top: 120%;
    right: 6px;
	padding : 0;
    border-radius: 3px;	
}

.moodle-actionmenu[data-enhanced].show.nowrap-items .menu>li:nth-child(3n+1){
	border-bottom: 1px solid #BEBEBE;
}

.path-mod-url .resourcecontent{
	padding : 0
}

.path-mod-url .resourcecontent video{
	width : 100%;
}

.col-sm-12.no-course-available{
    border: 1px solid #BEBEBE;
    padding: 25px;
    text-align: center;
    margin-bottom: 40px;
    opacity: 0.9;
}
	

.page-wrapper-loggedin {
   /* padding-top: 80px;
	/** new padding added by sumedh **
	padding-top : 114px;*/
}
.pagelayout-redirect .page-wrapper {
    background: 0 0
}
#page-site-index .page-content {
    padding-top: 60px
}
#frontpage-course-list>h2 {
    text-align: center
}
#page #region-main #frontpage-category-combo h2,
#page #region-main #frontpage-category-names h2,
#page #region-main #frontpage-course-list h2,
#page #region-main #site-news-forum h2 {
    margin-bottom: 30px
}
legend {
    font-size: 18px
}
#region-main #coursesearch #shortsearchbox {
    width: 280px
}
.path-course-view .completionprogress {
    right: 5px;
    top: 5px;
    font-size: 13px;
    color: #6f7581
}
.pagelayout-report .no-overflow {
    overflow-x: auto;
    margin-bottom: 15px
}
.graph img {
    max-width: 100%;
    height: auto
}
.path-course-view .completionprogress {
    padding: 10px
}
.que .answer label {
    font-size: 13px
}
#page #region-main .region-main-inner {
    overflow: inherit
}
#page #region-main .nav-tabs {
    overflow: hidden;
    margin-bottom: 15px
}
#page #region-main table.ygtvtable {
    margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
#page #region-main table.ygtvtable td {
    border: none;
    padding: 0
}
.box.generalbox.foldertree {
    border-bottom: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.content-only #page #region-main {
    width: 100%
}
.video-container-youtube {
    margin-bottom: 30px
}
#page-grade-report-overview-index table.flexible {
    display: table
}
#page-grade-report-overview-index #graded_users_selector {
    float: none
}
.nav .divider {
    display: none
}
.path-grade-report-grader .gradeparent {
    z-index: 10
}
#page-grade-report-grader-index #block-region-side-pre {
    float: left!important
}
#page-grade-report-grader-index #region-main {
    float: right!important
}
.path-message .box.message {
    overflow: hidden
}
.dropdown-submenu:hover>.dropdown-menu {
    display: none
}
.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars {
    width: 36px;
    height: 36px
}

.usermenu .moodle-actionmenu .toggle-display:hover {
    color: #fc0;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars .avatar {
    position: relative;
    top: 0
}
.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars .avatar img {
    width: 36px;
    height: 36px;
	border-radius : 50%;
}
.usermenu .caret {
    color: rgba(255, 255, 255, .8);
    top: 0!important
}
.jsenabled .usermenu .moodle-actionmenu.show {
    background: 0 0
}
.jsenabled .usermenu .moodle-actionmenu>.menu .filler {
    margin-top: 0;
    margin-bottom: 0
}
.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover {
    background: #f5f5f5;
    color: #494d55
}

.jsenabled .usermenu .moodle-actionmenu.show .menu a{
    margin: 2px 10px;
}

.moodle-actionmenu[data-enhanced].show .menu {
    z-index: 2000;
    border: 1px solid #eee
}
.usermenu .moodle-actionmenu .toggle-display {
    height: auto;
    line-height: inherit
}
.jsenabled .usermenu .moodle-actionmenu>.menubar {
    margin-bottom: 0
}
.preferences-group ul li {
    margin-bottom: 10px
}
.dropdown-backdrop {
    position: static
}
.fa-2 {
    font-size: 2em
}
.fa-3 {
    font-size: 4em
}
.fa-4 {
    font-size: 7em
}
.fa-5 {
    font-size: 12em
}
.fa-6 {
    font-size: 20em
}
.color-theme {
    color: #891635
}
.color-danger {
    color: #d9534f
}
.color-success {
    color: #5cb85c
}
.color-warning {
    color: #f0ad4e
}
.color-info {
    color: #5bc0de
}
@media (min-width: 979px) {
    .nav-collapse.collapse {
        height: auto!important;
        overflow: visible!important
    }
}
.section_action_menu .moodle-actionmenu[data-enhanced].show .menu .smallicon {
    padding: 4px 2px
}
.btn.dropdown-toggle .caret {
    margin-top: 0
}
.btn-group .dropdown-menu .divider {
    border-bottom: none
}
.list-group {
    margin-left: 0
}
.course-content li.section.main .activity .no-overflow,
.course-content li.section.main .summary>.no-overflow {
    overflow: inherit;
    padding: 0
}
.dropdown-menu>li {
    list-style: none!important
}
.moodle-dialogue-base .moodle-dialogue {
    z-index: 1031
}
#page-mod-assign-grading #region-main table.flexible.generaltable {
    padding-bottom: 40px
}
.inplaceeditingon input[type=text] {
    height: 27px
}
#page #region-main .notifications .alert .close {
    right: inherit
}
.search-input-wrapper {
    margin-top: 10px;
    margin-right: 10px;
    width: 18px
}
.search-input-wrapper>div {
    margin-top: 8px
}
.search-input-wrapper .smallicon {
    -webkit-opacity: .7;
    -moz-opacity: .7;
    opacity: .7
}
.search-input-wrapper .smallicon:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}
.search-input-wrapper.expanded {
    width: 200px
}
.search-input-wrapper.expanded .smallicon {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}
.search-input-wrapper form.expanded {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}
.search-input-wrapper form.expanded>input[type=text] {
    width: 160px
}
#comment_chooser .btn.btn-link {
    white-space: normal;
    text-align: left
}
#page-site-index .alerts-section {
    margin-top: 30px
}
#page-site-index .bg-slider-wrapper {
    height: 780px;
    background: #3d4147;
    position: relative
}
#page-site-index .bg-slider-wrapper .flexslider {
    color: #fff;
    height: 780px
}
#page-site-index .bg-slider-wrapper .flexslider .slide {
    display: block;
    height: 780px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
#page-site-index .bg-slider-wrapper .flexslider .flex-caption .title {
    font-size: 42px;
    font-weight: 700;
    max-width: 600px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    padding-top: 90px;
    padding-left: 15px
}
#page-site-index .bg-slider-wrapper .flexslider .flex-caption .caption-box {
    font-size: 18px;
    background: rgba(40, 165, 168, .8);
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0
}
#page-site-index .bg-slider-wrapper .flexslider .flex-caption .caption-box p {
    font-size: 18px
}
#page-site-index .bg-slider-wrapper .flexslider .flex-caption .caption-box .caption-box-inner {
    padding: 45px 30px;
    padding-bottom: 75px
}
#page-site-index .bg-slider-wrapper .flexslider .flex-caption .caption-box .subtitle {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700
}
#page-site-index .bg-slider-wrapper .flexslider .flex-caption .caption-box .btn-cta-primary {
    background-color: #19686a;
    border-color: #19686a;
    font-size: 18px
}
#page-site-index .bg-slider-wrapper .flexslider .flex-caption .caption-box .btn-cta-primary:hover {
    background-color: #145456;
    border-color: #145456
}
#page-site-index .bg-slider-wrapper .flexslider .flex-control-nav {
    bottom: 60px
}
#page-site-index .benefits {
    padding: 80px 0;
    background-color: #f0f4f6
}
#page-site-index .benefits .title {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 28px
}
#page-site-index .benefits .item {
    margin-bottom: 30px
}
#page-site-index .benefits .item .icon .fa {
    font-size: 32px;
    color: #891635
}
#page-site-index .benefits .item .content {
    color: #6f7581
}
#page-site-index .benefits .item .subtitle {
    font-size: 16px;
    color: #494d55
}
#page-site-index .featured {
    padding: 80px 0
}
#page-site-index .featured .title {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 28px;
    position: relative
}
#page-site-index .featured .title .lead {
    position: relative;
    top: 15px;
    font-size: 13px;
    display: block;
    color: #6f7581;
    font-family: arial, sans-serif;
    margin-bottom: 0
}
#page-site-index .featured .item {
    margin-bottom: 30px
}
#page-site-index .featured .item .figure {
    margin-bottom: 15px
}
#page-site-index .featured .item .figure img {
    margin: 0 auto
}
#page-site-index .featured .item .subtitle {
    margin-bottom: 10px;
    font-size: 16px
}
#page-site-index .featured .item .subtitle a {
    color: #494d55
}
#page-site-index .featured .item .subtitle a:hover {
    color: #891635
}
#page-site-index .testimonials {
    padding: 80px 0;
    padding-bottom: 0;
    background: #f0f4f6;
    margin-bottom: 130px
}
#page-site-index .testimonials .title {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 28px
}
#page-site-index .testimonials .flexslider {
    background: 0 0
}
#page-site-index .testimonials .flexslider .flex-control-nav {
    bottom: -30px
}
#page-site-index .testimonials .flexslider .flex-control-nav li a {
    background: #797f8b
}
#page-site-index .testimonials .flexslider .flex-control-nav li a.flex-active {
    background: #616670
}
#page-site-index .testimonials .item {
    display: inline-block
}
#page-site-index .testimonials .item.last {
    margin-bottom: 0
}
#page-site-index .testimonials .item .quote-box {
    background: #fff;
    padding: 30px;
    padding-bottom: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    margin-bottom: 30px;
    min-height: 220px;
    border-top: 3px solid #656565
}
#page-site-index .testimonials .item .quote-box .fa {
    color: #656565;
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 15px
}
#page-site-index .testimonials .item .quote-box:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    bottom: -10px;
    margin-left: -10px;
    left: 50%
}
#page-site-index .testimonials .item .quote {
    border: none;
    padding: 0;
    padding-right: 15px;
    font-size: 14px;
    font-style: italic;
    color: #6f7581;
    margin-bottom: 15px
}
#page-site-index .testimonials .item blockquote:before {
    display: none
}
#page-site-index .testimonials .item .details {
    font-size: 13px
}
#page-site-index .testimonials .item .details .name {
    display: block;
    font-weight: 400;
    color: #494d55
}
#page-site-index .testimonials .item .details .title {
    display: block;
    color: #b3b3b3;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 13px
}
#page-site-index .testimonials .item .people .user-pic {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto
}
#page-site-index .testimonials .item .people .user-pic,
#page-site-index .testimonials .item .people .user-pic *,
#page-site-index .testimonials .item .people .user-pic:after,
#page-site-index .testimonials .item .people .user-pic:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
#page-site-index .video {
    padding: 80px 0;
    background-color: #891635;
    color: #fff
}
#page-site-index .video .title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 28px
}
#page-site-index .video .intro {
    margin-top: 30px;
    margin-bottom: 30px
}
#page-site-index .logos {
    padding: 80px 0
}
#page-site-index .logos .title {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 28px
}
#page-site-index .social-section {
    padding: 40px 0;
    background-color: #f0f4f6;

    /* margin-top: -109px; */	
}
#page-site-index .social-section .title {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 28px
}
#page-site-index .social-section .social {
    font-size: 22px
}

#page #region-main .animation-section.after-logged-in-section{
	padding-top : 0px;
}

#page #region-main .after-logged-in-section h1.h1-heading{
	font-size :18px;
    margin: 25px 15px;
	text-align : left;
}

#page-site-index .social-section .social li a {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: inline-block;
    /*background: #891635;*/
    margin-bottom: 10px
}
#page-site-index .social-section .social li a:hover {
    background: #239193
}
#page-site-index .social-section .social li .fa {
    color: #fff;
    padding-top: 10px
}
.transform-test-heading {
    font-size: 11px;
    line-height: 28px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 0
}
body.has_dock #page {
    padding-left: 45px
}
body.has_dock div#dock {
    display: inline
}
body.has_dock .container-fluid {
    padding-left: 45px
}
#dock {
    width: 42px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: transparent;
    border-right: 0 none;
    z-index: 9999999
}
#dock .nothingdocked {
    visibility: hidden;
    display: none
}
#dock .dockeditem_container {
    margin-top: 68px
}
#dock .dockeditem .firstdockitem {
    margin-top: 1em
}
#dock .dockeditem:focus {
    outline: 0
}
#dock .dockedtitle {
    font-size: 14px;
    line-height: 20;
    vertical-align: middle;
    text-align: center;
    display: block;
    width: 36px;
    margin: 3px;
    padding: 0;
    cursor: pointer;
    margin-left: 0;
    text-shadow: none;
    background: #3d4147;
    color: #fff;
    border: none;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
#dock .dockedtitle:focus,
#dock .dockedtitle:hover {
    background: #494d55;
    color: #fff
}
#dock .dockedtitle h2 {
    font-size: 11px;
    line-height: 28px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 0
}
#dock .dockedtitle .filterrotate {
    margin-left: 8px
}
#dock .controls {
    position: absolute;
    bottom: 1em;
    text-align: center;
    width: 100%
}
#dock .controls img {
    cursor: pointer
}
#dockeditempanel {
    z-index: 12000;
    min-width: 200px;
    position: relative;
    left: 100%;
    padding-left: 5px
}
#dockeditempanel.dockitempanel_hidden {
    display: none
}
#dockeditempanel .dockeditempanel_content {
    width: 384px;
    -webkit-box-shadow: 0 2px 10px 0 #e1e1e1;
    -moz-box-shadow: 0 2px 10px 0 #e1e1e1;
    box-shadow: 0 2px 10px 0 #e1e1e1;
    background: #fff;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    padding: 8px 0
}
#dockeditempanel .dockeditempanel_bd {
    overflow: auto
}
#dockeditempanel .dockeditempanel_bd>* {
    margin: 1em
}
#dockeditempanel .dockeditempanel_bd .block_navigation .block_tree li {
    overflow: visible
}
#dockeditempanel .dockeditempanel_hd {
    border-bottom: 1px solid #fff;
    padding: 15px
}
#dockeditempanel .dockeditempanel_hd h2 {
    display: block;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: 700;
    line-height: 20px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    text-transform: uppercase
}
#dockeditempanel .dockeditempanel_hd .commands {
    display: block;
    text-align: right
}
#dockeditempanel .dockeditempanel_hd .commands>a,
#dockeditempanel .dockeditempanel_hd .commands>span {
    margin-left: 3px;
    cursor: pointer
}
#dockeditempanel .dockeditempanel_hd .commands img,
#dockeditempanel .dockeditempanel_hd .commands input {
    vertical-align: middle;
    margin-right: 1px
}
#dockeditempanel .dockeditempanel_hd .commands .hidepanemicon img {
    cursor: pointer
}
.dir-rtl.has_dock #page {
    padding-left: 0;
    padding-right: 45px
}
.dir-rtl #dock {
    left: auto;
    right: 0
}
.dir-rtl #dock .dockedtitle {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-left: 3px;
    margin-right: 0
}
.dir-rtl #dock .dockedtitle h2 {
    line-height: 25px
}
.dir-rtl #dockeditempanel {
    right: 100%
}
.dir-rtl #dockeditempanel .dockeditempanel_hd .commands {
    text-align: left
}
@media (max-width: 979px) {
    .nav-collapse.collapse {
        overflow: inherit
    }
    .nav-collapse.collapse.in {
        height: auto
    }
    .nav-collapse .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left
    }
    .nav-collapse .dropdown-menu a,
    .nav-collapse .nav>li>a {
        font-weight: 400
    }
    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px
    }
    .nav-collapse .nav {
        margin: 0
    }
    .nav-collapse .nav>li>a {
        margin-bottom: 0
    }
}
@media (max-width: 767px) {
    body {
        padding: 0
    }
    #topcontrol {
        display: none!important
    }
    .navbar-fixed-top {
        margin: 0
    }
    .header .main-nav .nav {
        margin-left: 0
    }
    .header .main-nav li.nav-item {
        margin-right: 0
    }
    .header .main-nav .nav>li {
        width: 100%
    }
    .header .main-nav .nav>li a {
        padding-top: 10px;
        padding-bottom: 10px
    }
    .header .main-nav .nav>li a:hover {
        background: #34373c
    }
    .header .main-nav .nav .dropdown-menu {
        background: #3d4147;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        width: 100%;
        min-width: inherit
    }
    .header .main-nav .nav .dropdown-menu:before {
        display: none
    }
    .header .main-nav .nav .dropdown-menu li a {
        color: #c0c3c9;
        border-bottom: none
    }
    .header .main-nav .nav .dropdown-menu li a:hover {
        color: #fff
    }
    .breadcrumb-button {
        float: left
    }
    .nav-collapse {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
    }
    .nav-collapse .nav {
        width: 100%;
        float: none
    }
    .nav .in .dropdown-menu,
    .nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }
    .nav-collapse .dropdown-menu a,
    .nav-collapse .nav>li>a {
        font-weight: 400;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;

    }
    .dropdown-submenu>a:after {
        border-left-color: #eee!important
    }
    .dropdown-submenu>a:hover:after {
        border-left-color: #eee!important
    }
    #region-main table {
        max-width: 100%;
        display: block;
        overflow-x: auto
    }
    .loginbox .loginform .form-label {
        float: none;
        width: auto;
        text-align: left
    }
    .loginbox .loginform .form-input {
        float: none;
        width: auto
    }
    #dockeditempanel .dockeditempanel_content {
        width: 240px
    }
    #page #region-main .loginbox {
        padding: 5px
    }
    #page-header h1.logo img {
        max-width: 260px
    }
    .section .label .activityinstance,
    .section .label .contentwithoutlink {
        padding-right: 0
    }
    .editing .section .activity .activityinstance,
    .editing .section .activity .contentwithoutlink {
        padding-right: 60px
    }
    #page #region-main .loginbox .loginform .form-input input {
        width: 100%
    }
    .nav-collapse.collapse {
        overflow: hidden
    }
    #page-site-index .testimonials .item {
        margin-bottom: 30px
    }
    .breadcrumb-button,
    .breadcrumb-nav {
        float: none;
        display: block
    }
    .search-input-wrapper {
        float: none;
        width: 160px
    }
}
@media (min-width: 768px) {
    .bg-slider-wrapper .flexslider .flex-caption .caption-box .btn-cta-primary {
        margin-top: 45px
    }
    .flexslider .flex-direction-nav {
        display: block
    }
    .testimonials .flexslider {
        margin-bottom: -50px
    }
    .settings-theme-colors {
        margin-left: 190px
    }
}
@media (min-width: 992px) {
    .header .logo {
        text-align: left
    }
    .header .logo img {
        margin: inherit
    }
    .header .logininfo-container {
        text-align: right;
        margin-top: 8px
    }
    .header .info-container .header-widget {
        float: right
    }
    .header .info-container .header-widget p {
        display: inline-block;
        float: left;
        margin-right: 10px
    }
    .header .logininfo-container {
        float: right
    }
    .flexslider .flex-direction-nav {
        display: block
    }
    .bg-slider-wrapper .flexslider .flex-caption .caption-box .btn-cta-primary {
        margin-top: 45px
    }
    #page-site-index .featured .title .lead {
        position: absolute;
        right: 0;
        top: 8px
    }
    .testimonials .flexslider {
        margin-bottom: -70px
    }
    .testimonials .item {
        margin-bottom: 0
    }
    .settings-theme-colors {
        margin-left: 210px
    }
}
@media (min-width: 1200px) {
    .form-horizontal .control-label,
    .form-item .form-label,
    .mform .fitem div.fitemtitle,
    .userprofile dl.list dt {
        width: 180px
    }
    #page-mod-forum-search .c1,
    .form-horizontal .controls,
    .form-item .form-description,
    .form-item .form-setting,
    .mform .fdescription.required,
    .mform .fitem .felement,
    .userprofile dl.list dd {
        margin-left: 200px
    }
}
.dir-rtl .block .footer {
    float: right;
    text-align: right
}
.dir-rtl .block_login .footer a,
.dir-rtl .block_login input[type=submit] {
    float: right
}
.dir-rtl .block .header .title h2:before {
    margin-left: .3em
}
.dir-rtl .block #icon {
    margin-left: 5px
}
.dir-rlt .tree_item.branch:before {
    margin-left: 5px
}
.dir-rtl #page .block-region .block .header .title .block_action {
    right: auto;
    left: 15px
}
.dir-rtl #page .block-region .block .header .title .block_action {
    right: auto;
    left: 15px
}
.dir-rtl #page .block-region .block .content {
    overflow: hidden
}
.dir-rtl #page #region-main .coursebox>.info>.coursename a {
    background-position: right 2px
}
.dir-rtl #page .hidden-blocks .block-region .block {
    float: right
}
.dir-rtl .main-nav .nav li a.dropdown-toggle .caret:before {
    margin-right: 2px
}
.dir-rtl .main-nav .nav li a .fa {
    margin-left: 5px;
    margin-right: 0
}
.dir-rtl #page-header h1.logo {
    float: right
}
.dir-rtl #page .breadcrumb-nav ul.breadcrumb li {
    float: right
}
.dir-rtl .comment-message .picture {
    margin-right: 0;
    margin-left: 5px
}
.dir-rtl #page-content .userpicture,
.dir-rtl .block_myprofile img.profilepicture {
    margin-left: 5px;
    margin-right: 0
}
.dir-rtl.has_dock #page {
    padding-right: 0
}
.dir-rtl .flexslider ul.slides {
    margin-right: 0
}
.dir-rtl .main-nav .nav {
    float: right
}
.dir-rtl .main-nav .nav>li {
    float: right
}
.dir-rtl #topcontrol {
    right: auto!important;
    left: 5px!important
}
.dir-rtl#page-site-index .testimonials .carousel-controls .prev {
    float: left
}
.dir-rtl#page-site-index .testimonials .carousel-controls .next {
    float: right
}
@media (min-width: 992px) {
    .dir-rtl .header .logo img {
        float: right
    }
    .dir-rtl .header .info-container .header-widget {
        float: left
    }
    .dir-rtl .header .logininfo-container {
        float: left
    }
}
ul.breadcrumb li+li:before {
    content: "[[setting:navbarsep]]";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.bg-slider-wrapper .slide {
    display: block;
    height: 780px
}
.bg-slider-wrapper .slide.slide-1 {
    background: #494d55 url([[setting:slide1image]]) no-repeat 50% top
}
.bg-slider-wrapper .slide.slide-2 {
    background: #6f7581 url([[setting:slide2image]]) no-repeat 50% top
}
.bg-slider-wrapper .slide.slide-3 {
    background: #6f7581 url([[setting:slide3image]]) no-repeat 50% top
}
.bg-slider-wrapper .slide.slide-4 {
    background: #6f7581 url([[setting:slide4image]]) no-repeat 50% top
}

/** new css added by sumedh **/
.float-left-div{
	float : left;
}

.float-right-div{
	float : right;
}

.box-sizing{
	box-sizing : border-box;
}

.width50{
	width : 50%;
}

.loginButton.btn-cta-secondary, .loginButton.btn-cta-secondary:hover, .loginButton.btn-cta-secondary:focus{
    border: 0;
    background: transparent;
    border-radius: 0;
    margin: 6px 0;
    color: #ffcc00;
    font-weight: 100;
    padding: 5px 15px;
    font-size: 14px;
    margin-left: 8px;
}


body #page.container, body #page.container-fluid{
	/*padding-top : 87px*/
}


body#page-site-index  #page.container, body#page-site-index  #page.container-fluid{
	padding-top : 0px
}

.margintop-10{
    margin-top: 10px;
}

.margintop-15{
    margin-top: 10px;
}	

.banner-video-player{
    width: 100%;
    min-height: 200px;
	/*margin-top : -87px;*/

}

.banner-section-desktop.banner-section, .banner-section-mobile.banner-section{
    position: fixed;
    width: 100%;
    z-index: 111;
    background: rgba(0, 0, 0, 0.91);
    display: table;
    height: 100%;
}

.banner-section-desktop.banner-section{
  cursor: pointer;
}


.banner-section-desktop.banner-section .banner-video-player {
    /* width: 100%; */
    min-height: 200px;
    /* margin-top: -87px; */
    height: 100%;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

.banner-section .fa.fa-times{
    position: absolute;
    margin: 0 auto;
    width: 50px;
    /* left: 0; */
    right: 20px;
    height: 50px;
    color: white;
    font-size: 30px;
    font-weight: 100;
    top: 20px;
    padding: 13px;
    display: none;
}

.banner-section-desktop.banner-section .fa.fa-times{
    display: block;
}

.banner-section-desktop.banner-section .title-heading{
  display : none;
}

.banner-section-mobile.banner-section .banner-video-player {
    width: 100%;
    min-height: 200px;
    /* margin-top: -87px; */
   /* height: 100%;*/
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}


#page-site-index .clear-height-div{
	height: 0;
}

.frontpageheadspan #topbar{
	background : transparent
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.course-content{
    border: 1px solid #eaeaea;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 30px;
    background: white;
    -moz-box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 5px black;
    -o-box-shadow: 0px 0px 5px black;
    -ms-box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
    border-radius: 0;	
}

#page-my-index .course-content{
    -moz-box-shadow: 0px 0px 3px #a2a2a2;
    -webkit-box-shadow: 0px 0px 3px #a2a2a2;
    -o-box-shadow: 0px 0px 3px #a2a2a2;
    -ms-box-shadow: 0px 0px 3px #a2a2a2;	
    box-shadow: 0px 0px 3px #a2a2a2;	
}

.course-section .h1-heading{
	color: white;
}

.course-content .course-image{
    border-left: 4px solid #ffcb05;
    margin-left: 1px;
}

.course-content .course-image img{
    max-width: 200px;
	width: 100%;
}

.course-content .course-details-heading{
    font-weight: 600;
    padding-bottom: 10px;
	white-space: nowrap;
	overflow: hidden !important;
    text-overflow: ellipsis;	
}

.course-content .course-details{
    padding: 10px;
    padding-left: 0;
}

.course-content .course-details-heading-text{
    max-height: 60px;
    overflow: hidden;
    margin-bottom: 10px;
}

.course-content .course-details-launch{
	text-align : right;
}

.course-content .course-details-launch input[type="button"]{
	background : #656565;
	border : #656565;
}

.course-section .container{
    padding-top: 20px;
}

.h1-heading{
    text-align: center;
    font-weight: 100;
    font-size: 28px;
    margin: 20px 0;
}

.playpause{
    position: absolute;
    top: 10px;
    z-index: 11;
    color: white;
    background: rgba(171, 171, 171, 0.48);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    display: table;
    vertical-align: middle;
    font-size: 25px;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    margin-top: -35px;	
}

.playpause .fa-play{
	padding-left: 5px;
}

.playpause span{
	vertical-align: middle;
    display: table-cell;
}

.playpause .fa-pause{
	display : none;
}
/*
.h1-heading > span{
	position : relative;
}

.h1-heading > span:after {
    border-bottom: 2px solid #494d55;
    content: "";
    width: 99%;
    position: absolute;
    bottom: 3px;
    left: 1%;
}
*/
.news-section{
    padding: 30px 0;
	background : #F6F6F6;
}

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 400px;
}

.carousel.vertical .prev {
  top: -400px;
}

@media screen and (min-width : 600px){
	.backtohome{
	    position: absolute;
		right: 40px;
		top: 26px;
	}
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
    left: 0;
}

#news-vertical .news-heading, .video-details-container p{
    color: #891635;
    background: url([[pix:theme|birla_images/bullet_arw]]);	
    background-repeat: no-repeat;
    padding-left: 15px;
    background-position: 0 50%;	
}

.video-details-container div{
	padding-left: 15px;
}

.video-details-container{
    margin-top: 20px;
}

#news-vertical .news-redirection a{
	background: url([[pix:theme|birla_images/know_more_img]]);		
    background-repeat: no-repeat;
    padding-left: 15px;
    background-position: 0 50%;	
}

#news-vertical .news-content{
	padding : 10px 0;
    border-bottom: 1px solid #BEBEBE;	
}

#news-vertical .news-details{
    line-height: 20px;
    padding-left: 15px;	
    height: 44px;
    overflow: hidden;	
}

#page-site-index .page-content#page-content{
	height : 0;
	padding : 0;
	overflow:hidden;
}

#news-vertical .news-redirection{
    text-align: right;
    padding: 5px 0px;

}

.news-vertical-arrows{
    width: 100%;
    border: 1px solid #BEBEBE;
    height: 40px;
	background : white;
	
}

.news-section .h1-heading{
    padding-bottom: 10px;
}

#news-vertical .carousel-control {
    right: 0px;
    left: auto;
    width: 40px;
    height: 40px;
    top: -40px;
    border-left: 1px solid #BEBEBE;	
	border: 1px solid #BEBEBE;
	opacity : 1;
}

#news-vertical .carousel-control[data-slide="prev"]{
	right: 40px;
	border-right: 0px;
	background: url([[pix:theme|birla_images/news_up_arw]]);
	background-repeat : no-repeat;
	background-position : 50%;
}

#news-vertical .carousel-control[data-slide="next"]{
	background: url([[pix:theme|birla_images/news_down_arw]]);
	background-repeat : no-repeat;
	background-position : 50%;
	border-right: 0px;
}

#news-vertical{
    background: white;
    padding: 15px;
    border: 1px solid #BEBEBE;
    border-top: 0px;	
}

#news-vertical .item .news-content:nth-last-child(1){
	border-bottom: 0px;
}

#news-vertical .carousel-control .glyphicon {
    font-size: 0px;
    top: 5px;
    color: gray;
}

.breadcrumb-section:after, .breadcrumb-section:before {
    content: "";
    clear: both;
	display : block;
}

.breadcrumb-section input,.breadcrumb-section .breadcrumb-nav{
	margin-bottom : 0px !important;
}

.breadcrumb-section .breadcrumb{
	background-color : transparent;
	padding-left: 0px;	
}

.breadcrumb-section{
    background: #eaeaea;
}
.jsenabled .usermenu .moodle-actionmenu .toggle-display.textmenu{
    padding-right: 0;
}

.language-sorting{
	text-align : right;
}

.course-content .course-padding.course-details{
	padding : 10px;
}

.language-sorting select{
    background: #891635;
    color: white;
    border-radius: 0px;
    /* margin-bottom: 20px; */
    position: relative;
	outline : none;
}

.language-sorting select > option{
	background : #656565
}

.footer .footer-data{
    padding: 15px 0;
	width : 95%
}


.footer .footer-col-inner h5{
    font-size: 18px;
    color: white;
}

.footer .footer-col a.footer-read-more{
    display: block;
    color: white;
    padding-top: 10px;
}

.margintop-13{
	margin-top : 13px;
}


@media screen and (min-width : 600px){
	.language-sorting select{
		top: -53px;
	}
	
	#page-my-index .language-sorting{
		height: 0px;
	}
}

@media screen and (min-width : 769px){

	.footer-col.info-data{
		padding-left: 50px;
	}	

	.main-nav .nav>li>a:after {
		content: "";
		border-right: 1px solid #9f9f9f;
		position: absolute;
		right: 0px;
		height: 15px;
		top: 50%;
		margin-top: -7px;
	}
	.nav>li>a {
		position: relative;
		padding: 10px 25px;
	}

	.main-nav .nav>li:nth-last-child(1)>a:after {
		/*border : 0px;*/
	}

	#page-my-index .course-content .course-padding.course-details {
		padding: 10px;
	}	
	
	.course-image-section{
		float: left;
	}
	
	.course-details-section{
		margin-left: 215px;
	}
	
}

@media screen and (max-width : 768px){


	
	textarea[cols], input[size]{
		width : 100%;
	}
	
	#logo{
		width : 101px;
	}
	
	.course-image-section{
		margin-top : 10px;
	}

	.course-content .course-details {
		padding: 10px;
	}	
	
	.course-content .course-image{
	    text-align: center;
		border : 0px	
	}

	.course-content .course-image img{
	    border-left: 4px solid #ffcb05;	
	}

	.header .main-nav .nav-collapse {
		padding: 0;
		position: absolute;
		width: 250px;
		background: white;
		right: 15px;
		margin-top: 4px;
		color: #CCC;
	    -moz-box-shadow: 0px 1px 5px #7b7b7b;	
	    -webkit-box-shadow: 0px 1px 5px #7b7b7b;	
	    -o-box-shadow: 0px 1px 5px #7b7b7b;	
	    -ms-box-shadow: 0px 1px 5px #7b7b7b;	
	    box-shadow: 0px 1px 5px #7b7b7b;	
	}
	
	.header .main-nav .nav li a{
		color: #333;
	}
	
	/*.main-nav div#nav-collapse .nav:before {
		display: inline-block;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #ccc;
		border-bottom-color: rgb(255, 255, 255);
		position: absolute;
		top: -7px;
		right: 88px;
		z-index: 1000;
	}	

	.main-nav div#nav-collapse .nav:after {
		content: '';
		display: inline-block;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #fff;
		position: absolute;
		top: -6px;
		right: 88px;
	}	
	
	.main-nav div#nav-collapse.collapse.in{
		overflow :visible;
	}
	
	header.loggedInUser .main-nav div#nav-collapse .nav:after, header.loggedInUser .main-nav div#nav-collapse .nav:before  {
	    left: 87px;
		right : auto
	}*/



}	


@media screen and (max-width : 590px){

	nav.main-nav.float-right-div{
		position: absolute;
		left: 4px;
		bottom: 0px
	}
	
	.header .main-nav .nav-collapse{
		left : 9px;
	}
	
	#page-header .col-sm-9{
		position : static;
	}

}



/** login page  **/
.avtar-login-image{
    position: absolute;
    z-index: 1;
    left: 8%;
    top: -14%;
}

.avtar-login-image img{
    width: 90%;
}

.avtar-login-image.loginerrormessage-show img{
    width: 95%;
    margin-left: -5%;
}

@media screen and (max-width : 1199px){
	.avtar-login-image{
		left: 2%;
	}
}



.loginpanel, .signuppanel {
    width: 80% !important;
    margin-left: auto !important;	
}	

.signupform input[type=submit]{
    margin: 0px !important;
}

#page-my-index .course-content .course-details-heading-text {
    height: 60px;
    overflow: hidden;
}

.loginbox .signupform{
    padding: 7px 0;
    position: absolute;
    width: 100%;
    left: 0;
    background: #eaeaea;
    text-align: center;
    padding-left: 19%;
	margin-top: 9px;	
}

#page #region-main .loginbox{
	border : 0px;
    border-top-right-radius: 25px !Important;	
    -moz-box-shadow:0px 1px 5px #b1b1b1 !Important;	
    -webkit-box-shadow: 0px 1px 5px #b1b1b1 !Important;	
    box-shadow: 0px 1px 5px #b1b1b1 !Important;
}



.login-package-container{
    margin: 80px 0px;
    position: relative;
}


@media screen and (min-width : 991px){
	#page-login-index #region-main.col-md-12{
		margin-left: 5%;
	}	
}

@media screen and (max-width : 991px){
	.avtar-login-image{
		display: none;
	}
	
	.loginpanel, .signuppanel {
		width : 100% !important;
	}
	
	#page #region-main .loginbox{
		border-radius : 0 !important;
	}
	
	.loginbox .signupform{
		padding-left: 0;
	}
}

/** animation section **/
.animation-section{
	padding: 40px 0;
}

.animation-section .animation-blocks{
    box-shadow: 0px 0px 4px #9a9a9a;
}

.animation-section .animation-image-block{
    border-top: 4px solid #ffcb05;
	text-align: center
}

.animation-section .animation-image-block img{
	width : 100%;
}

.animation-section .animation-heading-block{
    padding: 15px;
    text-align: center;
    font-weight: 600;
}

.animation-section .animation-details-block{
    padding: 15px;
    text-align: center;
    /* height: 77px; */
    /* overflow: hidden; */
    /* padding-bottom: 0; */
    padding-top: 0;
    margin-bottom: 15px;
}

.animation-section .animation-details-block > p{
    height: 60px;
    overflow: hidden;	
}	

.animation-section > .container {
	margin-top : 40px;
}

.course-section{
	padding :40px 0;

	background: url([[pix:theme|images/background/texture]]) no-repeat left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover	;
	background-color : 	#891635;	
}

.video-section.after-logged-in-section , .animation-section.after-logged-in-section{
    padding-left: 25px;
    padding-right: 25px;
}

.animation-section .row > a{
	color: #333;
}

.banner-section{
	position : relative
}

.title-heading{
    position: absolute;
    bottom: 31px;
    padding: 30px 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.56);
}

.title-heading-content{
    font-size: 50px;
    color: white;
    font-weight: 100;
}

.title-heading-content>span {
    display: block;
    line-height: 1.2;
}

.title-heading-content>span>i {
    font-style: normal;
    color: #ffcb05;
}

.title-heading-content>span:nth-child(2) {
    margin-left: 101px;
}


@media screen and (max-width : 700px){

	.title-heading{
		bottom: 11px;
		padding : 10px 0;
	}

	.title-heading-content{	
		font-size: 18px;
	}

	.title-heading-content>span:nth-child(2) {
		margin-left: 37px;
	}	
}


.sub-logo{
	margin-left : 10px;
}

#page-mod-scorm-player .page-wrapper{
	padding-top : 0px;
}
