div,
p,
span {
	word-wrap: break-word;
}

.clear {
	clear: both;
}

.form_ip::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #979e6f !important;
}

.form_ip:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #979e6f !important;
}

.form_ip::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #979e6f !important;
}

img {
	background-color: transparent !important;
}

.main_bar_active .navbar-default .customerservice_menu .navbar-nav>li {
	padding-top: 0px !important;
}

header .headerDesktop .primaryNavWrapper .primaryNav ul>li .subMenuWrapper {
	z-index: 999 !important;
}

header .headerDesktop .primaryNavWrapper .primaryNav ul>li .subMenuWrapper>ul>li {
	padding: 15px !important;
}

footer {
	border-top: none !important;
	margin-top: 0px !important;
}

header .headerDesktop .primaryNavWrapper .brandTitle a {
	text-transform: inherit !important;
}

header .headerMobile .investWrapper>a:after {
	background: none !important;
}

a:hover {
	text-decoration: none;
}

.pms_log {
	padding-right: 0px !important;
}

.col-subscribe {
	float: right;
}

.s_connect {
	float: left;
	color: #fff;
	font-size: 15px;
	margin-right: 10px;
	top: 12px;
	position: relative;
}

footer .col-subscribe ul.socialLinks {
	float: left;
}

footer .dvPrivacyBar ul li {
	border-right: none !important;
}

.section_wrapper {
	position: relative;
	width: 100%;
	font-family: 'PFHandbookPro-Regular';
	padding-bottom: 50px;
}

.banner_wrapper {
	position: relative;
	width: 100%;
	height: 432px;
	background: url(../pix/birla_images/banner_bg.jpg);
	background-size: cover;
	text-align: center;
	background-position: top;
}

.banner_wrap {
	position: relative;
	width: 430px;
	padding-left: 68px;
	padding-top: 125px;
	text-align: center;
	color: #3e593c;
	z-index: 990;
}

.banner_img {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 0;
}

.banner_up_text {
	font-size: 30px;
	line-height: 30px;
}

.banner_big_text {
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 25px;
}

.mf {
	padding-bottom: 0px;
	font-weight: bold;
	border-bottom: 1px solid #3e593c;
}

.banner_sub_text {
	font-size: 30px;
	line-height: 30px;
	color: #939e6d;
	margin-bottom: 20px;
}

.banner_btn {
	width: 240px;
	height: 50px;
	border: none;
	text-align: center;
	color: #fff;
	font-size: 30px;
	background: #cf2d3e;
	border-bottom: 3px solid #9e2e39;
	cursor: pointer;
}

.banner_btn:hover {
	background: #969f6e;
	border-bottom: 3px solid #3e593c;
}

.btg {
	/*border-top:5px solid #939e6d;*/
	background: #fff;
}

.sec_header_wrap {
	position: relative;
	width: 480px;
	margin: 0 auto;
}

.sec_head_bod {
	position: relative;
	width: 100%;
	height: 70px;
	border: 1px dashed #979e6f;
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.sec_head {
	position: relative;
	width: 430px;
	margin: 0 auto;
	background: #979e6f;
	color: #fff;
	font-size: 32px;
	line-height: 32px;
	padding: 10px 10px 10px 70px;
	text-align: center;
	border-radius: 30px;
	margin-top: -25px;
}

.sec_head_icon {
	position: absolute;
	top: -15px;
	left: -2px;
}

.img_slider_wrap {
	position: relative;
	width: 100%;
	min-height: 400px;
	margin-top: 40px;
	background: url("../pix/birla_images/slider_back.png") no-repeat right;
}

#myCarousel {
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.img_wrapper {
	position: relative;
	/*width:100%;*/
	display: inline-block;
	border: 1px dashed #979e6f;
	padding: 15px;
	text-align: center;
}

.carousel-control {
	background: none !important;
}

.carousel-indicators {
	bottom: -100px !important;
}

.carousel-indicators li {
	border: 1px solid #979e6f !important;
	text-align: center !important;
	color: #fff !important;
	text-indent: 0px !important;
	width: 25px !important;
	height: 25px !important;
	margin: 2px !important;
	border-radius: 50% !important;
	font-size: 16px !important;
	font-weight: bold !important;
	padding-top: 3px !important;
}

.carousel-indicators li.active {
	background: #979e6f !important;
}

.glyphicon-chevron-left {
	background: url("../pix/birla_images/slide_left_aro.png") no-repeat;
}

.carousel-control.left {
	width: 20px;
	left: -15px !important;
	top: 45% !important;
}

.carousel-control.right {
	width: 20px;
	right: -15px !important;
	top: 45% !important;
}

.slider_right_text {
	position: relative;
	padding-top: 100px;
	color: #979e6f;
	font-size: 32px;
	line-height: 32px;
	border-bottom: 1px dashed #979e6f;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.col-sm-6 {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.slider_right_sub_text {
	font-size: 24px;
	line-height: 30px;
	color: #3b3b3b;
}

.back_one {
	background: #f5f5f5 !important;
}

.elearning_wrap {
	position: relative;
	width: 100%;
	margin-top: 35px;
}

.elearning_wrap .col-md-4 {
	margin-bottom: 20px;
}

.elearning_head {
	display: inline-block;
	padding: 5px;
	font-size: 22px;
	line-height: 22px;
	color: #fff;
	background: #3e593c;
}

.elearning_sub_head {
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
    color: #979e6f;
    border-top: 1px dashed #979e6f;
	display: inline-block;
	/*set-word-Limit*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 250px;
	/*----*/
}

.module_wrapper {
	position: relative;
	width: 364px;
	height: 332px;
	border: 1px dashed #979e6f;
	overflow: hidden;
}

.module_wrapper img {
	width: 362px;
	height: 330px;
}

.module_body {
	position: absolute;
	top: 345px;
	left: 0px;
	width: 364px;
	height: 332px;
	background: rgba(202, 66, 72, .9);
	color: #fff;
	text-align: left;
	padding: 80px 25px 0px 25px;
	/*transition: all 1s ease-in-out;*/
	transition: all 1s cubic-bezier(.87, -.41, .19, 1.44);
}

.module_text {
	position: relative;
	width: 100%;
	color: #fff;
	font-size: 22px;
	line-height: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
	text-align: justify;
}

.module_btn_wrap {
	position: relative;
	width: 100%;
	text-align: right;
}

.module_btn {
	width: 150px;
	height: 45px;
	background: #fff;
	color: #3e593c;
	text-align: center;
	font-size: 24px;
	padding-top: 16px;
	display: inline-block;
	font-weight: bold;
}

.more_wrap {
	position: relative;
	width: 60%;
	height: 65px;
	margin: 0 auto;
	border: 1px dashed #979e6f;
	border-top: none;
	top: -20px;
}

.more {
	position: relative;
	width: 118px;
	height: 45px;
	top: 40px;
	background: #f5f5f5;
	color: #3e593c;
	border: 1px solid #3e593c;
	text-align: center;
	font-size: 24px;
	padding-top:3px;
	margin: 0 auto;
}

.more:hover {
	background: #3e593c;
	color: #fff;
}

.shw1 {
	width: 450px;
}

.sh1 {
	width: 360px;
}

.shw2 {
	width: 360px;
}

.sh2 {
	width: 270px;
}

.shw3 {
	width: 390px;
}

.sh3 {
	width: 325px;
}

.shw4 {
	width: 415px;
}

.sh4 {
	width: 350px;
}

.pb_none {
	padding-bottom: 0px;
}

.form_wrapper {
	position: relative;
	width: 90%;
	margin: 0 auto;
	margin-top: 35px;
	background: #f7f7f7;
	border: 1px dashed #979e6f;
	border-radius: 10px;
	color: #525252;
}

.form_head_wrap {
	position: relative;
	width: 100%;
	text-align: center;
	background: #fff;
	padding: 30px 10px 25px 10px;
	border-bottom: 1px dashed #979e6f;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 24px;
	line-height: 24px;
}

.uname_label {
	color: #979e6f;
	vertical-align: middle;
}

.uname {
	vertical-align: middle;
}

.uname_icon {
	vertical-align: middle;
	position: relative;
	top: -1px;
}

.form_body_wrap {
	position: relative;
	width: 100%;
	padding: 30px 60px 30px 60px;
}

.form_body_text {
	font-size: 22px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 25px;
}

.form_wrap {
	position: relative;
	width: 100%;
}

.form_row {
	position: relative;
	width: 615px;
	margin: 0 auto;
	margin-top: 10px;
}

.fr1 {
	width: 350px;
}

.form_row_wrap {
	width: 100%;
	margin-bottom: 20px;
}

.form_left {
	width: 255px;
	float: left;
	margin-right: 10px;
	text-align: right;
	color: #979e6f;
	font-size: 26px;
	line-height: 26px;
	position: relative;
	top: 10px;
}

.form_right {
	width: 350px;
	float: left;
}

.form_ip {
	width: 100%;
	height: 50px;
	background: #fff;
	border: 1px dashed #979e6f;
	padding: 10px;
	border-radius: 5px;
	color: #525252;
	font-size: 24px;
}

.form_btn {
	width: 215px;
	height: 50px;
	border: none;
	text-align: center;
	color: #fff;
	font-size: 28px;
	background: #3e593c;
	cursor: pointer;
	border: 1px solid #3e593c;
	border-radius: 5px;
	margin-right: 10px;
}

.form_btn:hover {
	background: #fff;
	color: #3e593c;
}

.form_btn_cancel {
	width: 120px;
	height: 50px;
	border: none;
	text-align: center;
	color: #3e593c;
	font-size: 28px;
	background: #fff;
	cursor: pointer;
	border: 1px solid #3e593c;
	border-radius: 5px;
}

.form_btn_cancel:hover {
	background: #3e593c;
	color: #fff;
}

.form_sub_text {
	margin-top: 10px;
}
.form_sub_text a{
	color: #3e593c;
	font-size: 18px;
}

.edit_row {
	position: relative;
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px dashed #979e6f;
	padding: 15px;
	text-align: center;
	color: #3e593c;
	font-size: 28px;
	line-height: 28px;
	cursor: pointer;
}

.e_nav {
	color: #979e6f;
}

.login_form_wrapper {
	position: relative;
	width: 425px;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 80px;
}

.login_form_left {
	position: relative;
	float: left;
	width: 85px;
}

.login_form_right {
	position: relative;
	float: left;
	width: 340px;
}

.s_img {
	width: 62px;
	margin-top: -5px;
}

.log_sub_row {
	position: relative;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form_sbt {
	width: 165px !important;
}

.mt1 {
	margin-top: -10px !important;
}

.create_account_wrap {
	position: relative;
	width: 100%;
	height: 54px;
	background: url("../pix/birla_images/existing_user_back.png") no-repeat;
	border-top: 1px dashed #979e6f;
	border-bottom: 1px dashed #979e6f;
	margin-bottom: 80px;
	text-align: center;
	font-size: 22px;
	line-height: 22px;
	padding-top: 13px;
}

.e_user {
	position: absolute;
	bottom: 0px;
	left: 20px;
	width: 240px;
}

.create_form_wrap {
	position: relative;
	width: 680px;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 50px;
}

.form_row_create {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}

.form_left_create {
	width: 100px;
	float: left;
	position: relative;
	top: -12px;
}

.form_right_create {
	width: 580px;
	float: left;
	position: relative;
}

.f_ip_l {
	width: 49%;
	float: left;
}

.f_ip_r {
	width: 49%;
	float: right;
}

.vid_wrapper {
	position: relative;
	width: 100%;
	margin-top: 60px;
}

.vid_wrap {
	position: relative;
	/*width:515px;*/
	height: 315px;
	border: 1px dashed #979e6f;
	padding: 20px;
	float: left;
	overflow: hidden;
	margin-bottom: 35px;
	width: 90%;
}

.vid_poster {
	width: 475px;
	height: 275px;
}

.vid_wrap_body {
	position: absolute;
	top: 315px;
	left: -1px;
	width: 515px;
	height: 315px;
	background: rgba(202, 66, 72, .9);
	color: #fff;
	text-align: left;
	padding: 20px;
	/* transition: all 1s ease-in-out; */
	transition: all 1s cubic-bezier(.87, -.41, .19, 1.44);
}

.vid_wrap_head {
	font-size: 28px;
	line-height: 28px;
	color: #fff;
	border-bottom: 1px dashed #fff;
	padding-bottom: 5px;
	display: inline-block;
	margin-bottom: 10px;
}

.vid_wrap_text {
	font-size: 20px;
	line-height: 20px;
	color: #fff;
	text-align: justify;
}

.about_mutual_fund_video_wrap {
	position: relative;
	width: 930px;
	height: 530px;
	background: #f7f7f7;
	border: 1px dashed #979e6f;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 60px;
}

.slider_item_head {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	color: #979e6f;
	font-size: 20px;
	line-height: 20px;
}

.slider_item_head img {
	vertical-align: middle;
}

.slider_item_head_text {
	position: relative;
	top: 5px;
}

.slider_item_body {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	color: #0f0f0f;
	font-size: 16px;
	line-height: 16px;
}

/***************** Checkbox ****************/

.container_chk {
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left: 0px;
}

.c_chk {
	font-size: 18px !important;
	color: #424242 !important;
	line-height: 18px;
	font-weight: normal;
	padding-top: 1px;
}

/* Hide the browser's default checkbox */

.container_chk input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border: 1px solid #969e6c;
	border-radius: 5px;
}

/* On mouse-over, add a grey background color */

.container_chk:hover input~.checkmark {
	background-color: #fff;
}

/* When the checkbox is checked, add a blue background */

.container_chk input:checked~.checkmark {
	background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */

.container_chk input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */

.container_chk .checkmark:after {
	left: 5px;
	top: 3px;
	width: 7px;
	height: 10px;
	border: solid #969e6c;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/***************** Checkbox ****************/

@media screen and (max-width: 1240px) {}

@media screen and (max-width: 1199px) {
	.slider_right_text {
		padding-top: 55px;
	}
	.module_wrapper {
		width: 300px;
		height: 280px;
	}
	.module_wrapper img {
		width: 300px;
		height: 280px;
	}
	.module_body {
		width: 300px;
		height: 280px;
		padding: 50px 25px 0px 25px;
	}
	.vid_wrap {
		width: 450px;
		height: 273px;
	}
	.vid_poster {
		width: 410px;
		height: 235px;
	}
	.vid_wrap_body {
		width: 450px;
		height: 273px;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 900px) {
	.theme2 header>.row:first-child {
		background-color: #d12b3f !important;
	}
}

@media screen and (max-width: 1101px) {
	header .headerMobile .investWrapper {
		float: right;
	}
}

@media screen and (max-width: 991px) {
	.slider_right_text {
		padding-top: 15px;
	}
	.col-sm-6 {
		text-align: center;
	}
	.carousel-control.left {
		left: -20px !important;
	}
	.carousel-control.right {
		right: -20px !important;
	}
	.carousel-indicators {
		bottom: -35px !important;
	}
	.more_wrap {
		border: none;
	}
	.elearning_wrap .col-md-4 {
		width: 300px;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.banner_img {
		display: none;
	}
	.banner_wrap {
		padding-top: 50px;
		margin: 0 auto;
	}
	.banner_wrapper {
		height: 335px;
	}
	.form_wrapper {
		width: 90%;
	}
	.create_form_wrap {
		width: 90%;
	}
	.form_right_create {
		width: 90%;
	}
	.vid_wrap {
		width: 450px;
		height: 273px;
		margin: 0 auto;
		float: none;
		margin-bottom: 20px;
	}
	.e_user {
		display: none;
	}
	.about_mutual_fund_video_wrap {
		width: 80%;
		height: auto;
	}
	video {
		height: auto !important;
	}
}

@media screen and (max-width: 940px) and (min-width: 768px) {}

@media screen and (max-width: 800px) {
	.navbar {
		min-height: 72px !important;
	}
	.main_bar_active .navbar-default .navbar-toggle {
		padding-top: 20px !important;
	}
}

@media screen and (max-width: 767px) {
	.form_wrapper {
		width: 90%;
	}
	.form_row {
		width: 100%;
	}
	.form_left {
		width: 100%;
		margin: 0px;
		text-align: center;
		float: none;
		margin-bottom: 20px;
	}
	.form_right {
		width: 100%;
		float: none;
	}
	.form_btn {
		width: 100%;
		margin-bottom: 10px;
		font-size: 20px;
	}
	.form_btn_cancel {
		width: 100%;
		font-size: 20px;
	}
	.login_form_wrapper {
		width: 325px;
	}
	.login_form_right {
		width: 236px;
	}
	.log_sub_row .form_sub_text {
		line-height: 18px;
		margin-top: 0px;
	}
	.create_form_wrap {
		width: 225px;
	}
	.form_left_create {
		width: 100%;
		float: none;
		text-align: center;
		top: 0px;
		margin-bottom: 10px;
	}
	.form_right_create {
		float: none;
		width: 100%;
	}
	.f_ip_l {
		width: 100%;
		margin-bottom: 10px;
	}
	.f_ip_r {
		width: 100%;
	}
	.fbw {
		padding: 30px 10px 30px 10px;
	}
	.carousel-control.left {
		left: -10px !important;
	}

	.carousel-control.right {
		right: -10px !important;
	}
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 550px) {
	.banner_wrap {
		width: 300px;
		padding-left: 0px;
	}
	.banner_btn {
		width: 210px;
	}
	.sec_header_wrap {
		width: 290px;
	}
	.sec_head_icon {
		width: 60px;
	}
	.sec_head_icon {
		top: -11px;
	}
	.sec_head {
		width: 270px;
		font-size: 20px;
		line-height: 20px;
		padding: 10px 10px 10px 60px;
	}
	.shw1 {
		width: 280px;
	}
	.sh1 {
		width: 250px;
	}
	.shw2 {
		width: 230px;
	}
	.sh2 {
		width: 180px;
	}
	.shw3 {
		width: 260px;
	}
	.sh3 {
		width: 210px;
	}
	.shw4 {
		width: 280px;
	}
	.sh4 {
		width: 230px;
	}
	.edit_row {
		width: 100%;
		font-size: 18px;
		line-height: 18px;
	}
}

@media screen and (max-width: 500px) {
	.vid_wrap {
		width: 290px;
		height: 177px;
		padding: 5px;
	}
	.vid_poster {
		width: 278px;
		height: 165px;
	}
	.vid_wrap_body {
		width: 290px;
		height: 177px;
		padding: 5px;
	}
	.vid_wrap_head {
		font-size: 20px;
		line-height: 20px;
	}
	.vid_wrap_text {
		font-size: 16px;
		line-height: 16px;
	}
}

@media screen and (max-width: 480px) {
	.login_form_wrapper {
		width: 235px;
	}
	.login_form_right {
		width: 236px;
	}
	.login_form_left {
		position: relative;
		float: none;
		width: 85px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 380px) {
	.edit_row {
		width: 100%;
		font-size: 14px;
		line-height: 14px;
	}
}

@media screen and (max-width: 350px) {
	.edit_row {
		width: 100%;
		font-size: 11px;
		line-height: 11px;
	}
}

