

<script>
    $(function() {
           $('#password').mouseout(function( event ) { 
               
            var password = $('#password').val();
            var session = '<?php echo sesskey() ?>';       
            if (password!='') {
                var t = CryptoJS.AES.encrypt(JSON.stringify(password), session,{format: CryptoJSAesJson}).toString();
               $('#password').val(t);
               
           } else {
                event.preventDefault();
            }

        });
    
    });
    
    function generateOTP(){
        var username=document.getElementById("username").value;
        if(username != ""){
        //window.location.href = "../login/generateOTP.php?user="+encodeURIComponent(username);
         $.ajax({
                     type: "POST",
                     url: "../auth/otp/generateOTP.php",
                     data: {
                         user: username
                         
                     },
                     success: function (result) {
                         alert(result);
                     },
                     error: function (result) {
                         alert('error');
                     }
                 });
        }
        else{
            alert("Please enter username");
        }
    }
    
    function passwordena(val)
    {
     //   if(val=='admin'){
     if(isNaN(val)){
           document.getElementById("valid_pass").style.display='block'; 
        }
        else
        {
            document.getElementById("valid_pass").style.display='none'; 
        }
    }

</script>
<?php
if ($show_instructions) {
    $columns = 'twocolumns';
} else {
    $columns = 'onecolumn';
}
//echo $CFG->registerauth;
if (!empty($CFG->loginpasswordautocomplete)) {
    $autocomplete = 'autocomplete="off"';
} else {
    $autocomplete = '';
}
if (empty($CFG->authloginviaemail)) {
    //get_string('username').' / '.;
    $strusername = get_string('mobile');
} else {
$strusername = get_string('usernameemail');
}
$classname ="";
if (!empty($errormsg)) {
$classname = "invalidcls";
}
?>
<!--<div class="sec_header_wrap shw3">
    <div class="sec_head_bod"></div>
    <div class="sec_head sh3 fadeInDown animated">
            <img src="../pix/existing_user_icon.png" class="sec_head_icon"/>
            <?php echo get_string('existinguser'); ?>
    </div>
</div>-->
<div class="form_wrapper">
    <div class="login_form_wrapper">
        <!-- NEW CODE START-->
        <form id="login_form" action="<?php echo $CFG->httpswwwroot; ?>/login/index.php" method="post" id="login" enctype="application/x-www-form-urlencoded" <?php echo $autocomplete;?>>

              <div class="loginheading"> <h2><?php echo print_string("loginheading");?></h2></div>
            <input style="display:none">
            <input type="password" style="display:none">

            <div class="login_form_right <?php echo $classname;?>">
                <label for="uname">Username</label>
                <input type="text" name="username" id="username" size="15" class="form_ip" value="<?php p($frm->username);?>" onChange="passwordena(this.value);" onfocusout="passwordena(this.value);" placeholder="Enter mobile no"/>
                <?php
                if (!empty($errormsg)) {
                echo html_writer::start_tag('div', array('class' => 'form-label'));
                //echo html_writer::link('#', $errormsg, array('id' => 'loginerrormessage', 'class' => 'accesshide'));
                echo $errormsg;

                //echo $OUTPUT->error_text($errormsg);
                echo html_writer::end_tag('div');
                }
                ?>  
                <div id="valid_pass" style="display:none;">
                    <div class="form-label"><label for="password"><?php echo get_string('password'); ?></label></div>
                    <div class="form-input">
                        <input type="password" name="password" id="password" size="15" value="" <?php echo $autocomplete; ?> placeholder="Password"/>
                    </div>          
                </div>
                <div class="log_sub_row">
                    <label class="container_chk" for="rememberusername"><?php print_string('rememberusername'); ?>
                        <input type="checkbox" name="rememberusername" id="rememberusername" value="1" <?php if($frm->username) {echo 'checked="checked"';} ?> />
                               <span class="checkmark"></span>
                    </label>
                    <div class="form_sub_text"><a href="forgot_password.php"><?php print_string("forgotten") ?></a></div>
                </div>
                <input type="submit" value="Login" class="form_btn form_sbt">
                <div class="create_account_wrap">
                    <div><?php print_string('createaccount');?>   <a href="signup.php"><?php  print_string('startsignup');?> </a></div>
                </div>
            </div>
            <input id="anchor" type="hidden" name="anchor" value="" />
            <script>document.getElementById('anchor').value = location.hash
                // document.getElementById('password').value = Base64.decode(document.getElementById('password').value);
            </script>
        </form>
        <!-- NEW CODE END-->
        <!-- OLD CODE-->
        <!--<form id="login_form" action="<?php echo $CFG->httpswwwroot; ?>/login/index.php" method="post" id="login" enctype="application/x-www-form-urlencoded" <?php echo $autocomplete;?>>
              <input style="display:none">
            <input type="password" style="display:none">
            <?php
            if (!empty($errormsg)) {
            echo html_writer::start_tag('div', array('class' => 'form-label'));
            echo html_writer::link('#', $errormsg, array('id' => 'loginerrormessage', 'class' => 'accesshide'));
            echo $OUTPUT->error_text($errormsg);
            echo html_writer::end_tag('div');
            }
            ?> 

            <div class="login_form_left">
                     <img class="s_img" src="../pix/mobile_icon.png"/>
             </div>
            <div class="login_form_right">
                <input type="text" name="username" id="username" size="15" class="form_ip" value="<?php p($frm->username);?>" onChange="passwordena(this.value);" onfocusout="passwordena(this.value);" placeholder="Mobile"/>
                <div id="valid_pass" style="display:none;">
                    <div class="form-label"><label for="password"><?php echo get_string('password'); ?></label></div>
                    <div class="form-input">
                        <input type="password" name="password" id="password" size="15" value="" <?php echo $autocomplete; ?> placeholder="Password"/>
                    </div>          
                </div>
                <div class="log_sub_row">
                    <label class="container_chk c_chk" for="rememberusername"><?php print_string('rememberusername', 'admin') ?>
                        <input type="checkbox" name="rememberusername" id="rememberusername" value="1" <?php if($frm->username) {echo 'checked="checked"';} ?> />
                               <span class="checkmark"></span>
                    </label>
                </div>
                <div class="log_sub_row mt1">
                    <input type="submit" value="SUBMIT >" class="form_btn form_sbt">
                    <div class="form_sub_text"><a href="forgot_password.php"><?php print_string("forgotten") ?></a></div>
                </div>
            </div>
            <input id="anchor" type="hidden" name="anchor" value="" />
            <script>document.getElementById('anchor').value = location.hash
                // document.getElementById('password').value = Base64.decode(document.getElementById('password').value);
            </script>
        </form>-->
        <div class="clear"></div>
    </div><!--login_form_wrapper-->
    <!--<div class="create_account_wrap">
        <div><?php print_string('createaccount');?><a href="signup.php"><?php  print_string('startsignup'); ?> ></a></div>
    </div>
    <img src="../pix/existing_user.png" class="e_user slideInDown animated"/>-->
</div>


<!--
<div class="login-package-container">
<div class="avtar-login-image <?php if (!empty($errormsg)) {echo 'loginerrormessage-show';} ?>"><img src="<?php echo $CFG->httpswwwroot;?>/theme/birlasunlife/pix/birla_images/character_login_page01.png" /></div>
<div class="loginbox clearfix <?php echo $columns; ?> col-md-7">
  <div class="loginpanel">
<?php
  if (($CFG->registerauth == 'email') || !empty($CFG->registerauth)) { ?>
      <div class="skiplinks"><a class="skip" href="signup.php"><?php print_string("tocreatenewaccount"); ?></a></div>
<?php
  } ?>
    <h2> <?php print_string('existinguser');?></h2>
      <div class="subcontent loginsub">
        <?php /*
          if (!empty($errormsg)) {
              echo html_writer::start_tag('div', array('class' => 'loginerrors'));
              echo html_writer::link('#', $errormsg, array('id' => 'loginerrormessage', 'class' => 'accesshide'));
              echo $OUTPUT->error_text($errormsg);
              echo html_writer::end_tag('div');
          } */
        ?>
        <form action="<?php echo $CFG->httpswwwroot; ?>/login/index.php" method="post" id="login" <?php echo $autocomplete; ?> >
          <div class="loginform">
            <div class="form-label"><label for="username"><?php echo($strusername)?></label></div>
            <div class="form-input">
             <input type="text" name="username" id="username" size="15" value="<?php p($frm->username);?>" onChange="passwordena(this.value);" onfocusout="passwordena(this.value);"/>
             <!-- <label><a href="<?php echo $CFG->httpswwwroot; ?>/login/generateOTP.php">Send OTP</a></label>
             <!--<label onclick="generateOTP()" class="otptxt"><a><?php echo get_string('send_mobileOTP');?></a></label>
            </div>
            <div class="clearer"></div>
            <div id="valid_pass" style="display:none;">
            <div class="form-label"><label for="password"><?php echo get_string('password'); ?></label></div>
            <div class="form-input">
              <input type="password" name="password" id="password" size="15" value="" <?php echo $autocomplete; ?> />
            </div>          </div></div>
            <div class="clearer"></div>
              <?php if (isset($CFG->rememberusername) and $CFG->rememberusername == 2) { ?>
              <div class="rememberpass">
                  <input type="checkbox" name="rememberusername" id="rememberusername" value="1" <?php if($frm->username) {echo 'checked="checked"';} ?> />
                  <label for="rememberusername"><?php print_string('rememberusername', 'admin') ?></label>
              </div>
              <?php } ?>
          <div class="clearer"></div>
          <input id="anchor" type="hidden" name="anchor" value="" />
          <script>document.getElementById('anchor').value = location.hash</script>
          
          <input type="submit" id="loginbtn" value="<?php print_string('login'); ?>" />
          <div class="forgetpass"><a href="forgot_password.php"><?php print_string("forgotten") ?></a></div>
        </form>
        <!--<div class="desc">
            <?php
                echo get_string("cookiesenabled");
                echo $OUTPUT->help_icon('cookiesenabled');
            ?>
        </div>
      </div>-->

<?php if ($CFG->guestloginbutton and !isguestuser()) {  ?>
      <div class="subcontent guestsub">
        <div class="desc">
          <?php print_string("someallowguest") ?>
        </div>
        <form action="index.php" method="post" id="guestlogin">
          <div class="guestform">
            <input type="hidden" name="username" value="guest" />
            <input type="hidden" name="password" value="guest" />
            <input type="submit" value="<?php print_string('loginguest'); ?>" />
          </div>
        </form>
      </div>
<?php } ?>
     </div>
<?php if ($show_instructions) { ?>
    <div class="signuppanel">
      <!--<h2><?php print_string("firsttime") ?></h2>-->
      <div class="subcontent">
        <?php  if (is_enabled_auth('none')) { // instructions override the rest for security reasons
              print_string("loginstepsnone");
          } else if ($CFG->registerauth == 'email') {
              if (!empty($CFG->auth_instructions)) {
                  echo format_text($CFG->auth_instructions);
              } else {
			    echo '<div class="signup-text">';
                // print_string("loginsteps", "", "signup.php");
				echo '</div>';
              } ?>
                 <!--<div class="signupform">
                   <form action="signup.php" method="get" id="signup">
                   <div><input type="submit" value="<?php print_string('startsignup'); ?>" class="signup-button" /></div>
                   </form>
                 </div> -->
<?php     } else if (!empty($CFG->registerauth)) {
              echo format_text($CFG->auth_instructions); ?>
             <!-- <div class="signupform">
                <form action="signup.php" method="get" id="signup">
                <div><input type="submit" value="<?php print_string('startsignup'); ?>" class="signup-button" /></div>
                </form>
              </div> -->
<?php     } else {
              echo format_text($CFG->auth_instructions);
          } ?>
      </div>
    </div>
<?php } ?>
<?php if (!empty($potentialidps)) { ?>
    <div class="subcontent potentialidps">
        <h6><?php print_string('potentialidps', 'auth'); ?></h6>
        <div class="potentialidplist">
<?php foreach ($potentialidps as $idp) {
    echo  '<div class="potentialidp"><a href="' . $idp['url']->out() . '" title="' . $idp['name'] . '">' . $OUTPUT->render($idp['icon'], $idp['name']) . $idp['name'] . '</a></div>';
} ?>
        </div>
    </div>
<?php } ?>
</div>

</div>
