<!-- No config needed -->
<?php
    // set to defaults if undefined
    if (!isset($config->recaptcha)) {
        $config->recaptcha = false;
    }

    $yesno = array( get_string('no'), get_string('yes') );

?>

<table cellspacing="0" cellpadding="5" border="0">
<tr>
   <td colspan="3">
        <h2 class="main"><?php print_string('auth_otpsettings', 'auth_otp') ?> </h2>
   </td>
</tr>
<tr>
    <td align="right"><label for="menusmsactive"><?php print_string('auth_otpsmsactive', 'auth_otp') ?></label></td>
    <td><?php
        global $OUTPUT;
        echo html_writer::select($yesno, 'otpsms', $config->otpsms, false);
        ?></td>
    <td><?php print_string('auth_otpsmsactivetxt', 'auth_otp') ?></td>
    
</tr>

<tr>
    <td align="right"><label for="menufeedid"><?php print_string('auth_otpfeedid', 'auth_otp') ?></label></td>
    <td><?php
        global $OUTPUT;
        echo html_writer::empty_tag('input', array('type'=>'text', 'name'=>'otpfeedId', 'value'=>$config->otpfeedId))
        ?></td>
    <td><?php print_string('auth_otpfeedidtxt', 'auth_otp') ?></td>
    
</tr>

<tr>
    <td align="right"><label for="menusenderid"><?php print_string('auth_otpsenderid', 'auth_otp') ?></label></td>
    <td><?php
        global $OUTPUT;
        echo html_writer::empty_tag('input', array('type'=>'text', 'name'=>'otpsenderId', 'value'=>$config->otpsenderId))
        ?></td>
    <td><?php print_string('auth_otpsenderidtxt', 'auth_otp') ?></td>
    
</tr>

<tr>
    <td align="right"><label for="menuuserid"><?php print_string('auth_otpuserid', 'auth_otp') ?></label></td>
    <td><?php
        global $OUTPUT;
        echo html_writer::empty_tag('input', array('type'=>'text', 'name'=>'otpuserId', 'value'=>$config->otpuserId))
        ?></td>
    <td><?php print_string('auth_otpuseridtxt', 'auth_otp') ?></td>
    
</tr>


<tr>
    <td align="right"><label for="menupassword"><?php print_string('auth_otpuserpass', 'auth_otp') ?></label></td>
    <td><?php
        global $OUTPUT;
        echo html_writer::empty_tag('input', array('type'=>'text', 'name'=>'otpPassword', 'value'=>$config->otpPassword))
        ?></td>
    <td><?php print_string('auth_otpuserpasstxt', 'auth_otp') ?></td>
    
</tr>
<tr>
    <td align="right"><label for="menuotpexpirytime"><?php print_string('auth_otptimelimit', 'auth_otp') ?></label></td>
    <td><?php
        global $OUTPUT;
        echo html_writer::empty_tag('input', array('type'=>'text', 'name'=>'otpExpirytime', 'value'=>$config->otpExpirytime))
        ?></td>
    <td><?php print_string('auth_otptimelimittxt', 'auth_otp') ?></td>
</tr>

<tr>
    <td align="right"><label for="menumessagetxt"><?php print_string('auth_otpusermsg', 'auth_otp') ?></label></td>
    <td><?php
        global $OUTPUT;
       echo html_writer::start_tag('textarea', array('id' => 'otpMessageTxt','name'=>'otpMessageTxt','rows'=>2));
       echo $config->otpMessageTxt;
       echo html_writer::end_tag('textarea'); 
       ?></td>
    <td><?php print_string('auth_otpusermsgtxt', 'auth_otp') ?></td>
</tr>




<!--
<tr>
    <td align="right"><label for="menurecaptcha"><?php print_string('auth_otprecaptcha_key', 'auth_otp') ?></label></td>
    <td><?php
        global $OUTPUT;
        echo html_writer::select($yesno, 'recaptcha', $config->recaptcha, false);
        ?></td>
    <td><?php print_string('auth_otprecaptcha', 'auth_otp') ?></td>
    
</tr>


<?php

print_auth_lock_options($this->authtype, $user_fields, get_string('auth_fieldlocks_help', 'auth'), false, false);

?>
-->
</table>
